/*
Error: Invalid CSS after "    }": expected "}", was ""
        on line 56 of sass/layout/marker.scss
        from line 38 of sass/style.scss

51:             width: 23px;
52:             height: 13px;
53:             z-index: 1;
54:         }
55:     }

Backtrace:
sass/layout/marker.scss:56
sass/style.scss:38
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:658:in `block'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:312:in `to_tree'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/israelperezglez/Documents/Workspace/47/scala-lang/bundle-vendor/bundle/ruby/2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    }\": expected \"}\", was \"\"\A         on line 56 of sass/layout/marker.scss\A         from line 38 of sass/style.scss\A \A 51:             width: 23px;\A 52:             height: 13px;\A 53:             z-index: 1;\A 54:         }\A 55:     }"; }
