---
tabId: macos
tabLabel: macOS
---
<div class="text-step wrap-inline">
  <div class="wrap">
    <p>Run the following command in your terminal, following the on-screen instructions:</p>
    {% include code-snippet.html language='bash' codeSnippet=site.data.setup-scala.macOS-brew %}
    {% assign homebrewAlt = "Alternatively, if you don't use Homebrew:" %}
    {% capture homebrewDetail %}
    <div class="wrap-narrow">
      <p>On the Apple Silicon (M1, M2, …) architecture:</p>
      {% include code-snippet.html language='bash' codeSnippet=site.data.setup-scala.macOS-arm64 %}
      <p>Otherwise, on the x86-64 architecture:</p>
      {% include code-snippet.html language='bash' codeSnippet=site.data.setup-scala.macOS-x86-64 %}
    </div>
    {% endcapture %}
    {% include alt-details.html
      id='cs-setup-macos-nobrew'
      title=homebrewAlt
      detail=homebrewDetail
    %}
  </div>
</div>
