---
layout: inner-page-no-masthead
title: Scala Ambassadors
permalink: /ambassadors/
includeTOC: false
---
<style>
  .ambassadors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ambassador-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 300px;
  }
  .ambassador-image {
    border-radius: 50%;
  }
</style>

<main>
  <div class="heading-box">
    <h2>Scala Ambassadors</h2>
  </div>
  <div>
    <p>Scala Ambassadors are independent community members who are known and have been recognized for their contributions to the community. They are active and welcoming individuals, happy to help newcomers, organize events, teach, speak at conferences, create content, and otherwise contribute to the Scala community.</p>
    <p>Ambassadors promote a positive image of Scala, improve communication among everyone working with Scala, and aid and support each other's efforts.
    <p>Ambassadors are encouraged to:
      <ul>
        <li>Be present whenever possible at their local community events.
        <li>Start new community events if they aren't already happening.
        <li>Be visible to other community members as Ambassadors.
        <li>Be perceived by the other community members as go-to people to find high quality answers to Scala-related questions
        <li>Relay community feedback to [the Scala organization](https://scala-lang.org/community/#whos-behind-scala)
      </ul>
    <p>The Center selects Ambassadors who have:
      <ul>
        <li>Strong knowledge of Scala and its community
        <li>A positive track record of activity in the community - conferences, meetups, forums, chat rooms, open source projects, and so on.
        <li>No track record of unprofessional behavior
      </ul>
    <h3 style="text-align: center;">What does it mean for me?</h3>
    <p>Scala Ambassadors are here to help you. They are happy to answer your questions, help you get started with Scala, or point you in the right direction. You can ask an Ambassador, for example, about:
        <ul style="list-style-type: disc; padding: 10px;">
        <li>How to get started with Scala.</li>
        <li>How to start speaking at a Scala event.</li>
        <li>How to organize a Scala event.</li>
        <li>General technical questions about Scala.</li>
      </ul>
    <h3 style="text-align: center;">Contacting Ambassadors</h3>
      At events, you can recognize an Ambassador by them having the following sticker:
    </p>
    <div>
      <img src="/resources/img/scala-ambassador-sticker-sample.png" alt="Scala Ambassador sticker" style="display: block; margin-left: auto; margin-right: auto; border-radius: 50%; height: 200px; object-fit: contain;">
    </div>
    <p>
      Ambassadors can be contacted a variety of ways, varying by their own preference. In the list below, Discord usernames (when present) are on the <a href="https://discord.com/invite/scala">Scala Discord</a>.
    </p>
    <br/>
    <h3 style="text-align: center;">Ambassadors</h3>
    <p>
      We are in the process of onboarding additional Ambassadors. Expect this list to grow. See our <a href="https://scala-lang.org/blog/2024/03/28/ambassadors-initiative.html">blog post</a> for more on this.
    </p>
    <h3 style="text-align: center;">Europe</h3>
    <div class="ambassadors">
      {% for ambassador in site.data.ambassadors %}
        {% if ambassador.continent == 'Europe' %}
          {% include ambassador.html %}
        {% endif %}
      {% endfor %}
    </div class="ambassadors">
    <h3 style="text-align: center;">North America</h3>
    <div class="ambassadors">
      {% for ambassador in site.data.ambassadors %}
        {% if ambassador.continent == 'North America' %}
          {% include ambassador.html %}
        {% endif %}
      {% endfor %}
    </div class="ambassadors">
    <h3 style="text-align: center;">Asia</h3>
    <div class="ambassadors">
      {% for ambassador in site.data.ambassadors %}
        {% if ambassador.continent == 'Asia' %}
          {% include ambassador.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</main>
