<figure class="code">
  <figcaption>Parallelism</figcaption>
  <pre><code>val x = future(someExpensiveComputation())
val y = future(someOtherExpensiveComputation())
val z = for (a <- x; b <- y) yield a*b
for (c <- z)
  println("Result: " + c)
println("Meanwhile, the main thread goes on!")</code></pre>
</figure>

<div class="snippet-explanation"><p>
The `future()` constructs evaluates its argument asynchronously, and returns
a handle to the asynchronous result as a `Future[Int]`.
For comprehensions can be used to post new things to do when the future is
completed, i.e., when the computation is finished.
And since all this is executed asynchronously, without blocking, the main
thread can continue its job in the meantime.
</p></div>
