<div class="java-interop-wrapper" style="width: 500px">
<figure class="code java-interop1" style="margin-top: 20px;">
  <figcaption>Author.scala</figcaption>
  <pre><code>class Author(val firstName: String,
    val lastName: String) extends Comparable[Author] {

  override def compareTo(that: Author) = {
    val lastNameComp = this.lastName compareTo that.lastName
    if (lastNameComp != 0) lastNameComp
    else this.firstName compareTo that.firstName
  }
}

object Author {
  def loadAuthorsFromFile(file: java.io.File): List[Author] = ???
}</code></pre>
</figure>
<figure class="code java-interop2" style="margin-top: 10px;">
  <figcaption>App.java</figcaption>
  <pre><code>import static scala.collection.JavaConversions.asJavaCollection;

public class App {
    public List&lt;Author&gt; loadAuthorsFromFile(File file) {
        return new ArrayList&lt;Author&gt;(asJavaCollection(
            Author.loadAuthorsFromFile(file)));
    }

    public void sortAuthors(List&lt;Author&gt; authors) {
        Collections.sort(authors);
    }

    public void displaySortedAuthors(File file) {
        List&lt;Author&gt; authors = loadAuthorsFromFile(file);
        sortAuthors(authors);
        for (Author author : authors) {
            System.out.println(
                author.lastName() + ", " + author.firstName());
        }
    }
}</code></pre>
</figure>
</div>

<div class="snippet-explanation" style="width: 370px;">
<h3>Combine Scala and Java seamlessly</h3>
<p>Scala classes are ultimately JVM classes. You can create Java objects, call
their methods and inherit from Java classes transparently from Scala.
Similarly, Java code can reference Scala classes and objects.</p>
<p>
In this example, the Scala class <code>Author</code> implements the Java
interface <code>Comparable&lt;T&gt;</code> and works with Java
<code>File</code>s. The Java code uses a method from the companion object
<code>Author</code>, and accesses fields of the <code>Author</code> class.
It also uses <code>JavaConversions</code> to convert between Scala collections
and Java collections.
</p></div>
