<p>Released <b>{{page.release_date}}</b>. See <a href="{{ site.baseurl }}/download/all.html">all releases</a>.</p>
<br/>
<p>Scala binaries for <strong>{{page.release_version}}</strong> are available at <a href="https://github.com/scala/scala3/releases/tag/{{page.release_version}}">github</a>.</p>

<h3>Release Notes</h3>
For a summary of important changes, see the <a
  href="https://github.com/scala/scala3/releases/tag/{{page.release_version}}">GitHub release notes</a>.
<br /><small>(Or consult our archive of <a href="{{ site.baseurl }}/blog/announcements/">older release
    notes</a>.)</small>

<div class="install-steps">
  <div class="text-step">
    <h2>Ways to Install This Release</h2>
    <ul>
      <li>
        Using <a
          href="https://docs.scala-lang.org/getting-started/index.html#using-the-scala-installer-recommended-way">Coursier
          CLI</a>, run:<br>
        <code>cs install scala:{{page.release_version}} && cs install scalac:{{page.release_version}}</code>.
      </li>
      <li>
        Download the Scala binaries for <strong>{{page.release_version}}</strong> at <a
          href="https://github.com/scala/scala3/releases/tag/{{page.release_version}}">github</a>.
        <br /><span class="install"><a href="{{ site.baseurl }}/download/install.html">Need help running the
            binaries?</a></span>
      </li>
      <li>
        You can also install Scala <strong>{{page.release_version}}</strong> with <a href="https://community.chocolatey.org">Chocolatey</a> by
        running the following command:<br>
        <code>choco install scala --version={{page.release_version}}</code>
      </li>
      <li>Using <a href="https://sdkman.io/">SDKMAN!</a>, you can easily <a href="https://sdkman.io/sdks#scala">install
          the latest version of Scala</a> on any platform by running the following command:<br>
        <code>sdk install scala {{page.release_version}}</code>
      </li>
      <li>On macOS you can also use <a href="https://brew.sh/">Homebrew</a> and run the following commands:<br>
        <code>brew update</code><br /><code>brew install scala</code>
      </li>
    </ul>
  </div>
  {% include download-resource-list.html %}
</div>
<h3>License</h3>
<p>The Scala {{ page.release_version }} distribution is released under the {{page.license}}.</p>
