
  <div class="footer">
  <div class="container">
    <ul>
      <li><h5>Documentation</h5></li>
      <li><a href="/documentation/getting-started.html">Getting Started</a></li>
      <li><a href="http://www.scala-lang.org/api/current/index.html#package">API</a></li>
      <li><a href="http://docs.scala-lang.org/overviews/">Overviews/Guides</a></li>
      <li><a href="http://docs.scala-lang.org/tutorials/">Tutorials</a></li>
      <li><a href="/files/archive/nightly/pdfs/ScalaReference.pdf">Language Specification <img src="{{ site.baseurl }}/resources/img/pdf-red.png"/></a></li>
    </ul>
    <ul>
      <li><h5>Download</h5></li>
        <li><a href="/download/">Stable Release</a></li>
        <li><a href="/download/{{ site.devscalaversion }}.html">Development Release</a></li>
    </ul>
    <ul>
      <li><h5>Community</h5></li>
      <li><a href="/community/index.html#mailing_lists">Mailing lists</a></li>
      <li><a href="/community/index.html#social_media">Social Media</a></li>
    </ul>
    <ul>
      <li><h5>Contribute</h5></li>
      <li><a href="/contribute/bug-reporting-guide.html">Report an Issue</a></li>
      <li><a href="http://docs.scala-lang.org/contribute.html">Contribute to Documentation</a></li>
      <li><a href="/contribute/hacker-guide.html">Hacker's Corner</a></li>
    </ul>
  </div>
    <div class="container">
      <div class="copyright">
        <a style="float: left; margin-right: 8px;" href="http://www.epfl.ch"><img src="{{ site.baseurl }}/resources/img/epfl-logo.png"/></a>
        <p style="float: left;"><br/>Copyright &copy; 2002-<span class="current-year"></span> École Polytechnique Fédérale de Lausanne
        (EPFL)<br/> Lausanne, Switzerland</p>
      </div>
      <div class="scala-logo-footer">
        <img src="{{ site.baseurl }}/resources/img/scala-logo-red-footer.png"/>
      </div>
    </div>

    <!-- prettify  js -->
    <script src="{{ site.baseurl }}/resources/js/vendor/prettify/prettify.js" type="text/javascript" ></script>
    <script src="{{ site.baseurl }}/resources/js/vendor/prettify/lang-scala.js" type="text/javascript" ></script>

    <!-- jquery js -->
    <script src="{{ site.baseurl }}/resources/js/vendor/jquery-1.8.3.min.js" type="text/javascript" ></script>
    <script src="{{ site.baseurl }}/resources/js/vendor/jquery.stellar.min.js" type="text/javascript" ></script>
    <script src="{{ site.baseurl }}/resources/js/vendor/jquery.livetwitter.js" type="text/javascript" ></script>

    <!-- modernizr js -->
    <script src="{{ site.baseurl }}/resources/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript" ></script>

    <!-- retina js -->
    <script src="{{ site.baseurl }}/resources/js/vendor/retina.js" type="text/javascript" ></script>

    <!-- backstretch js -->
    <script src="{{ site.baseurl }}/resources/js/vendor/jquery.backstretch.min.js" type="text/javascript" ></script>

    <!-- Bootstrap JS -->
    <script src="{{ site.baseurl }}/resources/js/vendor/bootstrap.min.js" type="text/javascript" ></script>

    <!-- Custom javascript -->
    <script src="{{ site.baseurl }}/resources/js/main.js" type="text/javascript"></script>
  </body>
</html>
