<footer id="site-footer">
    <div class="wrap">
      <div class="site-footer-top">
        {% for item in site.data.footer %}
          <ul class="{{item.class}}">
            <li><h3>{{item.title}}</h3></li>
            {% for link in item.links %}
              <li><a href="{{link.url}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="site-footer-bottom">
        <p>{{site.data.common.copyrightText}}</p>
        <img src="/resources/img/frontpage/scala-logo-white.png" alt="">
      </div>
    </div>
  </footer>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/resources/js/vendor/jquery.autocomplete.js" type="text/javascript" ></script>

    <!-- tweet feed -->
    <script src="{{ site.baseurl }}/resources/js/tweetMachine-update.js" type="text/javascript" ></script>
    
    <!-- prettify js -->
    <script src="{{ site.baseurl }}/resources/js/vendor/prettify/prettify.js" type="text/javascript" ></script>
    <script src="{{ site.baseurl }}/resources/js/vendor/prettify/lang-scala.js" type="text/javascript" ></script>

    <!-- unslider js -->
    <script src="{{ site.baseurl }}/resources/js/vendor/unslider.js" type="text/javascript" ></script>

    {% unless page.layout == 'page-no-toc' %}
    <!-- table of contents JS
    <script src="{{ site.baseurl }}/resources/js/vendor/toc.js" type="text/javascript" ></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#toc').toc({exclude: 'h1, h5, h6', context: '', autoId: true, numerate: false});
        function moveScroller() {
          if ($(".sidebar").length == 0)
            return;
          var a = function() {
            var topOfScroll = $(window).scrollTop();
            var topOfSidebar = $(".sidebar").offset().top;
            var sidebarInner = $(".sidebar-inner");
            var bottomOfSidebarInner = $(".sidebar-inner").offset().top + $(".sidebar-inner").outerHeight();
            var topOfFooter = $(".footer").offset().top - 10;
            var footerHeight = $(".footer").outerHeight();
            if (topOfScroll > topOfSidebar) {
              if (bottomOfSidebarInner > topOfFooter) {
                sidebarInner.css({position:"fixed",bottom:footerHeight,top:""});
              } else {
                sidebarInner.css({position:"fixed",top:"10px",bottom:""});
              }
            } else {
              sidebarInner.css({position:"relative",top:""});
            }
          };
          $(window).scroll(a);a()
        }
        moveScroller();
      })
    </script>
    {% endunless %}

    <!-- Highlight -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/scala.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/java.min.js" type="text/javascript"></script>
    
    <!-- TOC -->
    <script src="/resources/js/vendor/toc.js" type="text/javascript" ></script>

    <!-- Custom javascript -->
    <script src="{{ site.baseurl }}/resources/js/functions.js" type="text/javascript"></script>
  </body>
</html>
