<!-- Top Bar -->
<div class="container"
     style="margin-top: 40px; margin-bottom: 80px;">
	<div class="row">
		<div class="span4">
			<a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/resources/images/scala-logo.png"/></a>
		</div>
		<div class="span8">
			<nav class="mainnav">
				<ul class="frontpage-nav">
					<li><a href="#">Learn</a></li>
					<li><a href="#">Download</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="#">Contribute</a></li>
				</ul>
			</nav>
		</div>		
	</div>		
</div>	

<!-- Main Container -->
<div class="container">
	<div class="row">
		<div class="span12">
			<h1>This is the front page. Scala</h1>
			<span class="h3like">This is sort of some kind of subtitle.</span>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
		</div>
	</div>		
</div>	

<!-- Secondary Container -->
<div class="container">
	<div class="row">
		<div class="span8">

<div class="progress progress-striped
     active">
  <div class="bar"
       style="width: 40%;"></div>
</div>			

			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>			
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>
			<p>And this is some kind of paragraph under the subtitle. Yay.</p>															

		</div>
		<div class="span4">
			This is the right column.
		</div>
	</div>
</div>

<!-- Footer -->