<div class="hero-unit">
	<h1>Introducing Scala</h1>
	<p>Scala is a general purpose programming language designed to express
	common programming patterns in a concise, elegant, and type-safe way. It
	smoothly integrates features of object-oriented and functional languages,
	enabling Java and other programmers to be more productive. Code sizes are
	typically reduced by a factor of two to three when compared to an
	equivalent Java application.</p>
	<p><a href="{{ site.baseurl }}/what-is-scala.html"
		class="btn btn-primary btn-large">Read more</a></p>
</div>

<div class="row">
	<div class="span4">
		<h3>News</h3>
		<p>Maybe we can put some news, here.</p>
	</div>
	<div class="span4">
		<h3>Events</h3>
		<ul id="eventspane"> </ul>
	</div>
	<div class="span4">
		<h3>Trainings</h3>
		<ul id="trainingspane"> </ul>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
function populateEventsAndTrainingsPaneWhenLoaded() {

function compareFormattedDates(lhs, rhs) {
	var lhsDate = new Date(lhs);
	var rhsDate = new Date(rhs);
	if (lhsDate < rhsDate)
		return -1;
	else if (lhsDate > rhsDate)
		return 1;
	else
		return 0;
}

// EVENTS

function compareEventsByDate(lhs, rhs) {
	return compareFormattedDates(lhs.start, rhs.start);
}

var scalaLangEvents = [
{% for event in site.pages %}{% if event.isevent %}
	{
		"title": "{{ event.title }}",
		"logo": "{{ event.logo }}",
		"location": "{{ event.location }}",
		"start": "{{ event.start }}",
		"end": "{{ event.end }}",
		"url": "{{ event.url }}",
	}{% unless forloop.last %},{% endunless %}
{% endif %}{% endfor%}
];

function doPopulateEventsPane(allEvents) {
	allEvents.sort(compareEventsByDate);
	var content = "";
	for (i = 0; i < allEvents.length; i++) {
		var event = allEvents[i];
		var thisContent =
			event.title + " in " + event.location + "<br />" +
			event.start;
		if (event.end != "")
			thisContent += " to " + event.end;
		$("#eventspane").append("<li>" + thisContent + "</li>");
	}
};

function onEventsAjaxSuccess(response, textStatus, jqXHR) {
	var allEvents = scalaLangEvents.concat(response);
	doPopulateEventsPane(allEvents);
}

function onEventsAjaxError(jqXHR, textStatus, errorThrown) {
	// log the error to the console
	console.error(
		"Could not load Typesafe event feed: " + textStatus, errorThrown);
	// but at least display events from scala-lang
	doPopulateEventsPane(scalaLangEvents);
}

$.ajax({
	url: "{{ site.baseurl }}/cgi-bin/typesafe-feed-events",
	type: "GET",
	dataType: "json",
	success: onEventsAjaxSuccess,
	error: onEventsAjaxError
});

// TRAININGS

function compareTrainingsByDate(lhs, rhs) {
	return compareFormattedDates(lhs.when, rhs.when);
}

var scalaLangTrainings = [
{% for training in site.pages %}{% if training.istraining %}
	{
		title: "{{ training.title }}",
		description: "{{ training.description }}",
		url: "{{ event.url }}",
		sessions: [
			{
				where: "{{ training.where }}",
				when: "{{ training.when }}",
				trainers: "{{ training.trainers }}",
				organizer: "{{ training.organizer }}",
				status: "{{ training.status }}"
			}
		]
	}{% unless forloop.last %},{% endunless %}
{% endif %}{% endfor%}
];

function keepOnlyOneSession(trainings) {
	var result = new Array();
	for (i = 0; i < trainings.length; i++) {
		var training = trainings[i];
		var firstSession = training.sessions[0];
		result[i] = {
			title: training.title,
			description: training.description,
			url: training.url,
			where: firstSession.where,
			when: firstSession.when,
			trainers: firstSession.trainers,
			organizer: firstSession.organizer,
			status: firstSession.status
		};
	}
	return result;
}

function doPopulateTrainingsPane(allTrainings0) {
	var allTrainings = keepOnlyOneSession(allTrainings0);
	allTrainings.sort(compareTrainingsByDate);
	var content = "";
	for (i = 0; i < allTrainings.length; i++) {
		var training = allTrainings[i];
		var thisContent =
			training.title + "<br />" + training.when + ", " + training.where +
			", by " + training.trainers;
		$("#trainingspane").append("<li>" + thisContent + "</li>");
	}
}

function onTrainingsAjaxSuccess(response, textStatus, jqXHR) {
	var allTrainings = scalaLangTrainings.concat(response);
	doPopulateTrainingsPane(allTrainings);
}

function onTrainingsAjaxError(jqXHR, textStatus, errorThrown) {
	// log the error to the console
	console.error(
		"Could not load Typesafe training feed: " + textStatus, errorThrown);
	// but at least display trainings from scala-lang
	doPopulateTrainingsPane(scalaLangTrainings);
}

$.ajax({
	url: "{{ site.baseurl }}/cgi-bin/typesafe-feed-trainings",
	type: "GET",
	dataType: "json",
	success: onTrainingsAjaxSuccess,
	error: onTrainingsAjaxError
});

}
window.addEventListener("load", populateEventsAndTrainingsPaneWhenLoaded, false);
//]]>
</script>
