<!DOCTYPE html>
<html>
  <head>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow, noarchive"/>

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/resources/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/resources/favicon.ico">

    <!-- prettify CSS (corresponding js at footer)-->
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/prettify.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/bootstrap.css" type="text/css" />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/main.css" type="text/css" />

    <!-- Typekit (should stay at top of page, do not move to footer)-->
    <script type="text/javascript" src="//use.typekit.net/tow7fvu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>