- **Standard Library**: @phaller (Philipp Haller), @axel22 (Aleksandar Prokopec -- concurrent & collection)
- **Macros, Reflection, Manifests/TypeTags**: @xeno-by (Eugene Burmako), @cvogt (Christopher Vogt)
- **Type Checker, Inference**: @odersky (Martin Odersky), @adriaanm (Adriaan Moors)
- **New Pattern Matcher, Implicit Search**: @adriaanm (Adriaan Moors)
- **Language Specification, String Interpolation, Value Classes**: @odersky (Martin Odersky)
- **Documentation**: @heathermiller (Heather Miller)
- **Error Handling, lazy vals**: @hubertp (Hubert Plociniczak)
- **Scaladoc**: @vladureche (Vlad Ureche)
- **REPL, Compiler Performance**: @paulp (Paul Phillips)
- **Named/Default args, Annotations, Plugins**: @lrytz (Lukas Rytz)
- **Partest, Continuations Plugin**: @phaller (Philipp Haller)
- **The Build**: @jsuereth (Josh Suereth)
- **Specialization**: @axel22 (Aleksander Prokopec), @vladureche (Vlad Ureche), @dragos (Iulian Dragos)
- **Backend**: @magarciaEPFL (Miguel Garcia), @gkossakowski (Grzegorz Kossakowski), @dragos (Iulian Dragos)
- **Optimizer**: @vladureche (Vlad Ureche), @magarciaEPFL (Miguel Garcia)
- **Random Compiler Bugs**: @lrytz (Lukas Rytz), @adriaanm (Adriaan Moors), @hubertp (Hubert Plociniczak)
- **Swing**: @ingoem (Ingo Maier)
- **CPS**: @TiarkRompf (Tiark Rompf)
