<section class="governance table-of-content">
  <div class="wrap">
    <div class="inner-box">
      <div class="heading-box">
        <h2 id="governance">Governance</h2>
      </div>
      <div class="community">
        <div class="scala-items-grid">
          <div class="items-menu">
            {% for scalaItem in site.data.governance.cards %}
              <!-- Show the below content only if the scalaItem.expandable either doesn't exist or is false -->
              <div class="scala-item scala-item__governance">
                <div class="top">
                  <h4>{{scalaItem.title}}</h4>
                  <p>{{scalaItem.description}}</p>
                </div>
                {% unless scalaItem.dontExpand %}
                <a href="#{{scalaItem.anchorTarget}}" class="button button-more">{{scalaItem.expandText}}</a>
                {% endunless %}
              </div>
              <div id="{{scalaItem.anchorTarget}}" class="items-content">
                {% unless scalaItem.dontExpand %}
                <div class="wrap">
                  <a id="{{scalaItem.anchorTarget}}-close" class="items-content_close" href="#{{scalaItem.anchorTarget}}-close"><i
                      class="fa fa-close"></i></a>
                </div>
                <div class="items-code">
                  <div class="wrap">
                    <ul class="vertical-buttons-list">
                      {% for link in scalaItem.links %}
                      {% if link.text %}
                      <li>
                        {{ link.text | markdownify }}
                      </li>
                      {% elsif link.fancy %}
                      <li><div class="button button-announce">{{ link.fancy }}</div></li>
                      {% else %}
                      <li><a href="{{ link.url }}" class="button button-expand" target="_blank" rel="none">{{ link.name }}</a></li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </div> 
                </div>
                {% endunless %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="community">
        <div class="summary">{{site.data.governance.introText | markdownify}}</div>
      </div>
    </div>
  </div>
</section>
