<section class="table-of-content">
  <div class="wrap">
    <div class="inner-box">
      <div class="community">
        <div class="discourse">
          <h2>Discourse</h2>
          <span>Forums</span>
          <ul>
            {% for forum in site.data.chats-forums.discourseForums %}
              <li>
                <img src="/resources/img/frontpage/discourse-logo.png" alt="{{forum.title}}">
                <div>
                  <h4><a href="{{forum.url}}">{{forum.title}}</a></h4>
                  <p>{{forum.subtitle}}</p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="discord">
          <h2>Discord</h2>
          <span>Real-time chat</span>
          <ul>
            {% for server in site.data.chats-forums.discordServers %}
              <li>
                <a href="{{server.url}}">
                  <img src="/resources/img/frontpage/discord-logo.png" alt="{{channel.name}}">
                  <h4>{{server.name}}</h4>
                </a>
              </li>
            {% endfor %}
          </ul>
          <span>More chat venues are listed below.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="moderation">
  <div class="wrap">
    <div class="inner-box">
      <div class="heading-box">
        <h2>Moderation</h2>
      </div>
      <div class="description">
        <span>
          The Scala community is moderated by the Moderation Team over all
          the official communication channels hosted by the Scala
          organisation. The moderation is governed by the Code of
          Conduct.
        </span>
      </div>
      <div class="links-list" >
          {% for link in site.data.chats-forums.moderationLinks %}
          <div href="#" class="links-item">
          <a href="{{link.url}}">
            <div class="links-card-text">
              <h3>{{link.name}}</h3>
            </div>
          </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="upcoming-events">
  <div class="wrap">
    <div class="inner-box">
      <div class="heading-box">
        <h2>Upcoming Events and Trainings</h2>
      </div>
      <div class="events-items-list">
        {% assign upcomingEvents = '' | split: ',' %}
        {% capture now %}{{site.time | date: '%s' | plus: 0}}{% endcapture %}
        {% for event in site.events %}
        {% capture date %}{{event.end|date: '%s'|plus: 86400}}{% endcapture %}
        {% if now <= date %} {% assign upcomingEvents=upcomingEvents | push: event %} {% endif %} {% endfor %} {% for event in
          upcomingEvents limit:6 %} <div href="#" class="event-item">
          <a href="{{event.link-out}}" class="card">
            <img src="{{event.logo}}" alt="{{event.title}}">
            <div class="card-text">
              <h4>{{event.title}}</h4>
              <ul>
                <li class="event-location">{{event.location}}</li>
              </ul>
              <ul>
                <li class="date-event">{{event.start | date_to_string}} {% if event.start != event.end %}- {{event.end |
                  date_to_string}}{% endif %}</li>
              </ul>
            </div>
          </a>
      </div>
      {% endfor %}
      </div>
      <div class="call-to-action action-medium">
        <p class="align-top">See <a href="/events/">more events</a> or <a
            href="https://github.com/scala/scala-lang/tree/master/events">add one to our events feed</a></p>
      </div>
      {% include upcoming-training.html %}
    </div>
  </div>
</section>
