<section class="table-of-content">
	<div class="wrap">
		<div class="inner-box">
			<div class="community">
				<div class="discourse">
					<h3>Discourse</h3>
					<span>Forums</span>
					<ul>
						{% for forum in site.data.chats-forums.discourseForums %}
							<li>
								<img src="/resources/img/frontpage/discourse-logo.png" alt="{{forum.title}}">
								<div>
									<h4><a href="{{forum.url}}">{{forum.title}}</a></h4>
									<p>{{forum.subtitle}}</p>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="discord">
					<h3>Discord</h3>
					<span>Real-time chat</span>
					<ul>
						{% for server in site.data.chats-forums.discordServers %}
							<li>
								<a href="{{server.url}}">
									<img src="/resources/img/frontpage/discord-logo.png" alt="{{channel.name}}">
									<h4>{{server.name}}</h4>
								</a>
							</li>
						{% endfor %}
					</ul>
					<span>More chat venues are listed below.</span>
				</div>
			</div>
		</div>
	</div>
</section>
