<ul class="nav">
    <li>
        <div class="dropdown">
            <a href="{{ site.baseurl }}/documentation/">
                Documentation
            </a>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <a href="{{ site.baseurl }}/download/">
                Download
            </a>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <a href="{{ site.baseurl }}/community/">
                Community
            </a>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <a href="{{ site.baseurl }}/get-involved/">
                Get Involved
            </a>
        </div>
    </li>
</ul>