<ul class="nav">
  <li><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
  <li><a href="{{ site.baseurl }}/download/">Download</a></li>
  <li><a href="{{ site.baseurl }}/community/">Community</a></li>
  <li><a href="{{ site.baseurl }}/contribute/">Contribute</a></li>
  <li id="source-code" >
    <a href="http://github.com/scala/scala"><img src="{{ site.baseurl }}/resources/img/github-logo.png"/></a>
    <div class="toptip">Source Code</div>
  </li>
  <li id="scala-lang-twitter">
    <a href="http://twitter.com/scala_lang"><img src="{{ site.baseurl }}/resources/img/twitter-logo-white.png"/></a>
    <div class="toptip">Scala on Twitter</div>
  </li>
</ul>