.sidebar-inner-noscroll {
  width: 320px;
  padding: 30px;
  padding-top: 18px;
}

#glossary > ul {
  margin: 0;
}

#glossary > ul > li {
  list-style: none none;
}

.filterbar {
  line-height:1.3;
  position: relative;
  padding: 8px 9px 5px;
  margin-bottom: 20px;
  color: #FFFFFF;
  background-color: #859900;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #bcbcbc #bcbcbc #808080;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 0px rgba(0, 43, 54, 0.15);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.filterbar input{
  background-color:#ffffff;
  background-color:rgba(255, 255, 255, 1);
  font-size:normal;
  font-weight:13px;
  line-height:1;
  padding:4px 9px;
  margin-bottom: 4px;
  margin-right: 10px;
  color:#404040;
  border:1px solid #808080;
  border-radius:4px;
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255,0.4);
  transition:none;
}

.filterbar .title {
  font-size: 16px;	  	
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 43, 54, 0.15);
  margin-right: 10px;
}