---
---
/* ==========================================================================
   Custom styles, overrides bootstrap
   ========================================================================== */

* {
  margin: 0;
}

*, *:after, *:before {
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #073642;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #586E75;
  line-height: 1.3em;
}

.navbar-wrap {
  float: right;
  position: relative;
  height: 100%;
}

.navbar-inner {
  position: relative;
  height: 100%;
  min-height: 40px;
}

a.brand {
  margin-left: -20px;
  opacity: 0;
  float: left;
  border-bottom: 2px solid #fff;
}

.nav {
  z-index: 40;
  position: relative;
  float: right;
  list-style-type:none;
  margin-top: 54px;
  padding:0;
}

.nav > li > a {
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > a > img {
  max-width: none;
}

.nav > li {
  position: relative;
  float: left;
  text-transform: uppercase;
  height: 100%;
  border: solid 1px rgba(255, 255, 255, 0);
}

.nav > li > a:link,
.nav > li > a:visited {
  position: relative;
  display:inline-block;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 0px #366A76;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.nav > li > a:hover {
  text-decoration: none;
  color: #fff;
  /*background-color: #fff;*/
  /*padding: 0 31px;*/
  background: #DC322F;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -ms-transition: background .2s ease-in;
  -o-transition: background .2s ease-in;
  transition: background .2s ease-in;
}

.nav > li > a,
#source-code > a > img,
#scala-lang-twitter > a > img {
  margin-right: -10px;
}

#source-code > a, #scala-lang-twitter > a {
  background-color: transparent;
}

.splash {
  position: relative;
  width: 100%;
  min-width:1024px;
  height: 540px;
}

.splash-content {
  z-index: 10;
  position: relative;
  margin-top: 60px;
}

.download-btn-wrap {
  position: relative;
  z-index: 20;
  text-align: center;
  margin-top: -36px;
}

#download-btn {
  padding: 0 31px;
  background: #DC322F;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 20px/63px 'proxima-nova', sans-serif;
  display: inline-block;
  width: 300px;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#download-btn:hover {
  background:#333;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

#learn-more-btn {
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#learn-more-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.scala-logo {
  position: relative;
  float: left;
  z-index: 2;
  margin-top: 40px;
  width: 200px;
}

.spiral-logo {
  position: relative;
  float: left;
  height: 54px;
  width: 40px;
}

.scala-text {
  position: relative;
  line-height: 48px;
  font-family: "museo-slab", serif;
  font-weight: 900;
  color: #fff;
  font-size: 48px;
}

.splash-text{
  margin-top: 40px;
}

.splash-text > h2 {
  font-size: 48px;
  line-height: 54px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -1px;
  color: #fff;
  /*width: 600px;*/
}

.splash-pitch {
  font-family: "museo-slab", serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  margin-bottom: 14px;
  color: #fff;
  width: 560px;
}

.training {
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding: 40px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #E2E9EF; /*dark bluish #174753*/
  min-height: 60px;
}

.news {
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding: 40px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fff; /* gentle, light blueish: #E2E9EF;*/
  min-height: 300px;
}

h2.recently,
h2.whats-new {
  font-family: "museo-slab", serif;
  font-size: 20px;
  color: #657B83;
  font-weight: normal;
  font-style: italic;
}

.twitter {
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #E2E9EF; /*yellowish: #FDF6E3*/
  min-height: 180px;
  text-align: center;
}

h2.twitterhdr {
  font-family: "museo-slab", serif;
  font-size: 20px;
  color: #657B83;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  background: url({{ site.baseurl }}/resources/img/gray-line.png) center repeat-x;
}

h2.twitterhdr > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  background-color: #E2E9EF;
  padding: 0 10px;
}

#twitter-btn {
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#twitter-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.highlighted-events {
  width: 100%;
  min-width:1024px;
  /*padding: 40px;*/
  padding-left: 0px;
  padding-right: 0px;
  background-color: #002B36;
  height: 180px;
}

#scaladays {
  float: left;
  height: 180px;
  width: 480px;
  background: url({{ site.baseurl }}/resources/img/scaladays2.png) no-repeat;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scaladays {
    background-image: url('{{ site.baseurl }}/resources/img/scaladays2@2x.png');
    background-size: 480px 180px;
  }
}

#scala2013 {
  float: right;
  height: 180px;
  width: 450px;
  background: url({{ site.baseurl }}/resources/img/scala2013.png) no-repeat;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scala2013 {
    background-image: url('{{ site.baseurl }}/resources/img/scala2013@2x.png');
    background-size: 450px 180px;
  }
}

#scaladays-register-btn {
  margin-top: 120px;
  margin-left: 180px;
  padding: 0 18px;
  background: #DC322F; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#scaladays-register-btn:hover {
  background:#576D74;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

#scala2013-register-btn {
  margin-top: 134px;
  margin-left: 130px;
  padding: 0 18px;
  background: #DC322F; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#scala2013-register-btn:hover {
  background:#576D74;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.code-snippet-box {
  width: 100%;
  min-width:1024px;
  background-color: #fff;
  min-height: 400px;
}

.code-snippet-arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #073642;
}

.code-snippet-arrow.hover {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #17404A;
}

#code-snippet-row1 > .container > .row,
#code-snippet-row2 > .container > .row {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
}


#hidden-java-interop,
#hidden-type-inference,
#hidden-parallelism-distribution,
#hidden-traits,
#hidden-pattern-matching,
#hidden-higher-order-functions {
  display: none;
}

.epfl-picture-box {
  background: url({{ site.baseurl }}/resources/img/epfl-bc.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-width:1024px;
  min-height: 400px;
}

.darkblue-overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: rgba(15, 33, 43, 0.4);
  height: 100%;
  bottom: 0px;
}

.ontop {
  position: relative;
  z-index: 100;
}

.splash-overlay {
  height: 100%;
  width: 100%;
}

.bullet-point-box {
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding-top: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.bullet-point {
  text-align: center;
  height: 100%;
}

.bullet-point.span12:hover {
  background: #073642;
}

.bullet-point:hover {
  background: rgba(41, 75, 83, 0.5);
}

/*.bullet-point > h3.highlighted {
  color: #859900;
}*/

.bullet-point > h2 {
  font-family: "museo-slab", serif;
  font-size: 20px;
  color: #839496;
  font-weight: normal;
  font-style: italic;
  /*text-transform: uppercase;*/
  margin-bottom: 0px;
  background: url({{ site.baseurl }}/resources/img/gray-line.png) center repeat-x;
}

.bullet-point > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  background-color: #073642;
  padding: 0 10px;
}

.bullet-point > p.click {
  padding: 0px;
  margin-bottom: 26px;
  color: #17404A;
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #3d626b;
  font-weight: normal;
  font-style: italic;
}

.bullet-point > p.click:before {
  content: "\2767";
  display: inline-block;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}

.bullet-point > p.click:after {
  content: "\2767";
}

.bullet-point > h3 {
  text-align: center;
  line-height: normal;
  font-size: 17pt;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.bullet-point > p {
  text-align: center;
  font-family: "museo-slab", serif;
  font-weight: normal;
  margin: 0 15px 15px;
  font-size: 13pt;
  line-height: 17pt;
  color: #839496;
}

#java-interop:hover,
#type-inference:hover,
#parallelism-distribution:hover,
#traits:hover,
#pattern-matching:hover,
#higher-order-functions:hover {
  cursor: pointer;
}

#code-snippet-row1,
#code-snippet-row2 {
  display: none;
/*  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #586E75;*/
  background-color: #002B36;
}

.where-to-learn-more {
  padding-top: 20px;
  margin-bottom: 26px;
  color: #17404A;
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #3d626b;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.news-item {
  color: #839496;
  border-bottom: solid 2px #93A1A1;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

.news-category {
  display: block;
  color: #DC322F;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: .5em;
}

.news-title {
  line-height: normal;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 22px;
  color: #174753;
  margin-bottom: 10px;
}

.news-title > a:link,
.news-title > a:visited {
  color: #174753;
}

.news-title > a:hover {
  /*background: #FDF6E3;*/
  color: #DC322F;
  text-decoration: none;
}

.by {
  font-family: "museo-slab", serif;
  color: #586E75;
  /*font-weight: 600;*/
  font-size: 16px;
}

.news-author {
  margin-top: 8px;
}

.news-author-name {
  display: inline;
  font-family: "museo-slab", serif;
  color: #586E75;
  line-height: 1.1em;
  font-size: 16px;
  /*font-style: italic;*/
}

.news-date {
  color: #839496;/*#859900;*/
  border-top: solid 1px #93A1A1;/*rgba(44, 56, 70, 0.4);*/
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

.news-date > img {
  margin-right: 0px;
  margin-top: -5px;
}

.news-body {
  margin-top: 14px;
}

.news-body, .recent-news-body {
  line-height: 1.4em;
  color: #586E75;
}

.news-body > p > a:link,
.news-body > p > a:visited,
.recent-news-body > p > a:link,
.recent-news-body > p > a:visited {
  color: #DC322F;
}

.news-body > p > a:hover,
.recent-news-body > p > a:hover {
  color: #174753;
}

#archive-btn {
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#archive-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.post-news, .see-more-tweets {
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #3d626b;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.recent-news-item:first-child {
  padding-top: 20px;
  border-top: 0px;
  border-bottom: 1px solid #F2F5F8;
}

.recent-news-item:last-child {
  padding-bottom: 20px;
  border-top: 1px solid #F2F5F8;
  border-bottom: 0px;

}

.recent-news-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #F2F5F8;
  border-bottom: 1px solid #F2F5F8;
}

.recent-news-item:hover {
  background: rgba(226, 233, 239, 1);
  border-bottom: 1px solid rgba(206, 210, 214, 0.6);
  border-top: 1px solid rgba(206, 210, 214, 0.6);
}

.recent-news-item:first-child:hover {
  background: rgba(226, 233, 239, 1);
  border-bottom: 1px solid rgba(206, 210, 214, 0.6);
  border-top: 0px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.recent-news-item:last-child:hover {
  background: rgba(226, 233, 239, 1);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid rgba(206, 210, 214, 0.6);
  border-bottom: 0px;
}

.recent-news-items {
  background: rgba(226, 233, 239, 0.4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.recent-news-author {
  margin-top: 6px;
}

.recent-news-author-name,
.recent-news-author > .by {
  display: inline;
  color: #DC322F;
  font-family: "museo-slab", serif;
}

.recent-news-date {
  padding-top: 3px;
  margin-top: 3px;
  display: inline-block;
  font-family: "museo-slab", serif;
  font-size: 12px;
  width: 100%;
  /*line-height: 1.5em;*/
  border-top: 1px solid rgba(206, 210, 214, 0.6);
}

.recent-news-category {
  display: inline-block;
  position: relative;
  float: right;
  text-decoration: none;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  /*padding-top: 3px;*/
  /*padding-bottom: 3px;*/
  font-size: 10px;
  background: #DC322F;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.recent-news-title {
  margin-top: 8px;
  line-height: normal;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1em;
  color: #174753;
}

.recent-news-title a:link,
.recent-news-title a:visited {
  color: #174753;
}

.recent-news-title a:hover {
  color: #DC322F;
  text-decoration: none;
}

.recent-news-body {
  margin-top: 8px;
}

.rss {
  float: right;
}

.tweets { position: relative; }

.tweet-container {
  position: relative;
  float: left;
  width: 220px;
  height: 230px;
  margin-right: 20px;
  vertical-align: bottom;
}

.tweet-container:last-child {
  margin-right: 0px;
}

.tweet { position: absolute; bottom: 60px; }

.tweet .text {
  font-size: 14px;
  text-align: left;
  min-height: 20px;
  padding: 14px;
  background-color: rgba(255, 255, 255, 1); /*rgba(253, 246, 227, 1)*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);*/
  /*-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);*/
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);*/
  color: #2C3846;
  text-shadow: 0 1px 0 #fff;
  margin-top: 10px;
}

.tweet .text a { color: #DC322F; }
.tweet .text a:hover { color: #859900; text-decoration: none;}
.original-tweet { font-family: "museo-slab", serif; font-size: 13px; padding-top: 8px;}
.original-tweet > a { color: #839496; font-weight: normal; text-decoration: none; }
.original-tweet > a:hover { color: #DC322F; }
.username { position: relative; top: 10px; left: -10px; color: #839496; white-space: nowrap; line-height: 1em;}
.username > a { color: #657B83; font-weight: bold; text-decoration: none; }
.username > a:hover { color: #DC322F; }
.triangle { position: relative; bottom: 9px; left: 40px; height: 0px; width: 1px; margin-left: auto; margin-right: auto; border-top: 16px solid rgba(0, 30, 30, 0.7); border-left: none; border-right: 16px solid transparent; border-bottom: none; }
.bottom-anchored { position: absolute; bottom: 0px; }
.lh1em { line-height: 1em; }

.caret-container{ position: absolute; bottom: 60px; }
.caret-divider{ position:absolute;top:0;left:28px;width:16px;height:8px}
.caret-container .caret-divider{top:-10px}
.caret-divider .caret-outer,.caret-divider .caret-inner{position:absolute;width:0;height:0;vertical-align:text-bottom;border-style:solid}
.caret-divider .caret-outer{border-top:8px solid rgba(255, 255, 255, 1);border-right:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid transparent;top:0;left:0;z-index:10}
.caret-divider .caret-inner{border-top:7px solid rgba(255, 255, 255, 0);border-right:7px solid transparent;border-bottom:7px solid transparent;border-left:7px solid transparent;top:0;left:1px;z-index:11}

.thumbnail {
  padding: 0;
  border: 0;
  box-shadow: none;
}
.thumbnail > img {
  margin-left: 4px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.scala-lang-twitter {
  color: #fff;
  font-size: 32px;
  /*font-family: 'proxima-nova', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: bold;
  /*text-transform: uppercase;*/
  margin-bottom: 12px;
  text-shadow: 0 2px 0 #000;
}

.scala-lang-twitter a:link,
.scala-lang-twitter a:visited {
  color: #fff;
}

.scala-lang-twitter a:hover {
  color: #D03F00;
  text-decoration: none;
}

/*.news,
.trainings-events {
  color: #fff;
  font-size: 32px;
  font-family: "museo-slab", serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-shadow: 0 2px 0 #000;
  line-height: 1.1em;
}*/

.footer {
  background: #002B36;
  /*text-align: center;*/
  color: #fff;
  padding-top: 20px;
}

.copyright {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 12px;
  line-height: 1.2em;
  /*font-family: "museo-slab", serif;*/
  position: relative;
  float: left;
}

.footer > p {
  vertical-align: bottom;
}

.footer ul {
  -moz-box-sizing: content-box;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 10px 0 20px 0;
  width: 235px;
}

.footer a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.footer a:hover {
  color: #DC352E;
  text-decoration: none;
}

.footer li {
  /*font-family: "museo-slab", serif;*/
  text-align: left;
}

.footer ul:last-child {
    padding-right: 0;
}

.footer ul li a {
    /*color: rgba(255, 255, 255, 0.7);*/
    color: #839496;
    font-size: 14px;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: none;
}

.footer ul li h5 {
    /*border-bottom: 1px solid rgba(131, 148, 150, 0.6);*/
    /*color: rgba(255, 255, 255, 0.9);*/
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    /*margin-bottom: 10px;*/
    /*padding-bottom: 10px;*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);*/
    text-transform: uppercase;
}
.footer ul li h5 a {
    font-size: 14px;
    opacity: 1;
}

.scala-logo-footer {
  position: relative;
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}

.made-with-love {
  display: block;
  color: #839496;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 12px;
  vertical-align: middle;
}

pre.prettyprint {
  overflow: hidden;
}

/* doc blocks on the learn page */

.doc-block {
  text-align: center;
  float: left;
  /*border: 1px solid #000;*/
}

/*.doc-block > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  -moz-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -o-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  background-color: #191a1a;
  padding: 0 10px;
}
*/

.doc-block > h3 {
  text-align: center;
  line-height: normal;
  font-size: 17pt;
  /*font-family: 'proxima-nova', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: bold;
  text-transform: uppercase;
  /*color: #fff;*/
}

.doc-block > p {
  /*text-align: center;*/
  /*font-family: "kulturista-web", serif;*/
  margin: 0 15px 15px;
  font-size: 13pt;
  line-height: 17pt;
  /*color: #96938C;*/
}

div.download-wrapper {
  width: 400px;
  text-align: center;
}

div.download {
  margin-top: 10px;
  margin-bottom: 10px;
}

a.btn.download {
  background-color: #00B1BF;
  border-color: #005A61 ;
  padding: 9px 20px 7px;
  border-radius: 3px;
}

a.btn.download:hover, a.btn.download:focus { background-color:#58ccd5; border-color:#00B1BF; color: #FFF; text-shadow: 0 -1px 1px rgba(0, 0, 0, .7); }

.marker {
  position: absolute;
  top: 120px;
  right: 280px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(60deg);
}

.marker:hover {
  cursor: pointer;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #8d4143;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #8F1123; /*rgba(193, 44, 42, 1)*/
  z-index: 10;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(60deg);
}

.dot {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  left: -25px;
  z-index: 2;
  opacity: 0;
  border: 10px solid #a60300; /*rgba(0,166,205,1);*/
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-animation: flash 2s ease-out;
  -moz-animation: flash 2s ease-out;
  animation: flash 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes flash {
  0% {-moz-transform: scale(0);opacity: 0.0; }
  25% {-moz-transform: scale(0);opacity: 0.1; }
  50% {-moz-transform: scale(0.1);opacity: 0.3;}
  75% {-moz-transform: scale(0.5);opacity: 0.5;}
  100% {-moz-transform: scale(1);opacity: 0.0;}
}

@-webkit-keyframes flash {
  0% {-webkit-transform: scale(0);opacity: 0.0; }
  25% {-webkit-transform: scale(0);opacity: 0.1; }
  50% {-webkit-transform: scale(0.1);opacity: 0.3; }
  75% {-webkit-transform: scale(0.5);opacity: 0.5; }
  100% {-webkit-transform: scale(1);opacity: 0.0; }
 }

.tip {
  display: none;
  position: absolute;
  top: 145px;
  left: 650px;
  background: rgba(133, 153, 0, 0.6);
  border: 0px;
  padding: 10px;
  width: 400px;
  padding: 20px;
  font-family: "museo-slab", serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #fff;
}

.tip:after {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 12px 20px;
  border-color: transparent transparent rgba(133, 153, 0, 0.6) transparent;
  left: 0px;
  top: -12px;
  content: '';
}

 .ring {
  position: relative;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  margin-top: -200px;
  z-index: 40;
  border: 60px solid rgba(0, 43, 54, 0.5);
  /*background: #002B36;*/
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
 }

 .inner-ring {
  position: relative;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  z-index: 40;
  border: 0px;
  background: #002B36;
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
 }

 .central {
  position: relative;
  height: 345px;
  margin-top: -175px;
 }

.translucent-circle {
  position: relative;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  /*margin-top: -200px;*/
  z-index: 40;
  border: 60px solid rgba(0, 43, 54, 0.5);
  /*background: #002B36;*/
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
 }

.opaque-circle {
  position: absolute;
  height: 225px;
  width: 225px;
  left:0;
  right:0;
  top: 60px;
  bottom: 0;
  margin: 0 auto;
  /*margin-top: -285px;*/
  z-index: 40;
  border: 0px;
  background: #002B36;
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
}

.central-btn {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  padding: 0 31px;
  background: #859900;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 20px/63px 'proxima-nova', sans-serif;
  width: 300px;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

.central-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.scala-version {
  line-height: 0.9em;
  font-size: 36px;
  font-weight: 100;
  z-index: 99;
  background: transparent;/*rgba(7, 54, 66, 0.5);*/
  top: 265px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  /*left: 320px;*/
  width: 120px;
  text-align: center;
  font-family: "museo-slab", serif;
  color: #174753;
  text-transform: none;
  padding: 0 16px;
}

.scala-version:hover {
 background: transparent;
 color: #174753;
 cursor: text;
}

.superbold {
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
}

.download {
  left: 120px;
  top: 145px;
}

.for-platform {
  display: block;
  position: absolute;
  width: 118px;
  text-align: center;
  top: 46px;
  font-family: "museo-slab", serif;
  font-size: 12px;
  font-style: italic;
  text-transform: none;
  line-height: 0px;
  color: #43621B;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.for-platform:hover, .central-btn:hover > .for-platform {
  color: #690B16;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}

.api {
  text-align: right;
  right: 120px;
  top: 145px;
}

.big-scala-spiral {
  position: absolute;
  left: 378px;
  top: 30px;
  z-index: 100;
}

.darkbluebar {
  width: 100%;
  height: 175px;
  background-color: #002B36;
  margin-top: -173px;
}

.toptip {
  display: none;
  top: -24px;
  left: -30px;
  background: rgba(0, 43, 54, 0.6);
  border-radius: 5px;
  position: absolute;
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #fff;
  width: 100px;
  line-height: 1.1em;
  text-align: center;
  padding: 4px;
  text-transform: none;
}

.toptip:after {
  position: absolute;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 43, 54, 0.6);
  left: 48px;
  bottom: -6px;
  content: '';
}

.left-side {
  color: #839496;
  z-index: 50;
  position: absolute;
  top: 42px;
  left: 142px;
  width: 164px;
  text-align: center;
  font-family: "museo-slab", serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}

.right-side {
  color: #839496;
  z-index: 50;
  position: absolute;
  top: 42px;
  right: 142px;
  width: 164px;
  text-align: center;
  font-family: "museo-slab", serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}

.left-side a, .right-side a, .where-to-learn-more a {
  color: #839496;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}

.left-side a:hover, .right-side a:hover, .where-to-learn-more a:hover {
  color: #DC322F;
}

.getting-started {
  margin-bottom: 4px;
  border-bottom: 1px solid #073642;
}

.dev-releases, .all-releases {
  margin-bottom: -4px;
}

figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
}

figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 1.6em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #e0e0e0; /* Old browsers */
  background: -moz-linear-gradient(top,  #e0e0e0 0%, #cacaca 14%, #aaaaaa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(14%,#cacaca), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

/*.training-item {

}

.training-description {

}

.training-location {

}

.training-date {

}

.training-trainers {

}

.training-organizer {

}
---
istraining: true
title: Test training
description: This a cool test training
link-out: http://www.epfl.ch/
where: Lausanne, Switzerland
when: 23 March 2013
trainers: Sébastien Doeraene
organizer: EPFL
status: unknown
---
 '<div class="training-item">' +
          '<div class="training-title"><a href="'+training.url+'">'+training.title+'</a></div>' +
          '<div class="training-description">'+training.description+'</div>' +
          '<div class="training-location">'+training.where+'</div>' +
          '<div class="training-date"><img src="{{ site.baseurl }}/resources/img/icon-date.png" /> '+training.when+'</div>' +
          '<div class="training-trainers"><span class="by">By</span> <div class="training-trainers-name">'+training.trainers+'</div></div>' +
          '<div class="training-organizer">'+training.organizer+'</div>' +
        '</div>';

        '<div class="event-item">' +
          '<div class="event-title"><a href="'+event.url+'">'+event.title+'</a></div>' +
          '<div class="event-logo"><img class="event-logo" src="'+event.logo+'" alt="Logo" /></div>' +
          '<div class="event-location">'+event.location+'</div>' +
          '<div class="event-date"><img src="{{ site.baseurl }}/resources/img/icon-date.png" /> '+
            event.start + (event.end ? ' to '+event.end : '') + '</div>' +
        '</div>';



*/
