/* ==========================================================================
   Custom styles, overrides bootstrap
   ========================================================================== */

* {
  margin: 0;
}

*, *:after, *:before {
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

html, body {
  /*height:100%;*/ /*Don't apply this, it will break the javascript on the front page for some unbeknownst reason*/
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #073642;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #586E75;
  line-height: 1.3em;
}

a:link, a:visited {
  color: #27B3D9;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  border-bottom: 2px solid #F2F5F8;
}

a:hover {
  color: #DC322F;
  text-decoration: none;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.span12 > a > img {
  border-bottom: none;
}

.darkstrip {
  width: 100%;
  height: 20px;
  /*background-color: #1A232B;*/
  background-color: #002B36;
}

.darkbluetopbar {
  width: 100%;
  height: 80px;
  background-color: #073642;
  /*background-color: #002B36;*/
  /*background-color: #2F353E;*/
}

.midbluebar {
  width: 100%;
  height: 110px;
  background-color: #72D0EB;
}

.darkbluetopbar > .container > .navbar-wrap > .container > .scala-logo {
  margin-top: 20px;
}

.darkbluetopbar > .container > .navbar-wrap > .container > ul.nav {
  margin-top: 22px;
}

.darkbluetopbar > .container > .navbar-wrap > .container > ul.nav > li > a {
  text-shadow: none;
}

.darkbluetopbar > .container > .navbar-wrap > .container > ul.nav > li#source-code > .toptip,
.darkbluetopbar > .container > .navbar-wrap > .container > ul.nav > li#scala-lang-twitter > .toptip {
  background: rgba(0, 0, 0, 0.3);
}

.darkbluetopbar > .container > .navbar-wrap > .container > ul.nav > li#source-code > .toptip:after,
.darkbluetopbar > .container > .navbar-wrap > .container > ul.nav > li#scala-lang-twitter > .toptip:after {
  border-top: 6px solid rgba(0, 0, 0, 0.3);
}

.navbar-wrap {
  float: right;
  position: relative;
  height: 100%;
}

.navbar-inner {
  position: relative;
  height: 100%;
  min-height: 40px;
}

a.brand {
  margin-left: -20px;
  opacity: 0;
  float: left;
  border-bottom: 2px solid #fff;
}

.nav {
  z-index: 40;
  position: relative;
  float: right;
  list-style-type:none;
  margin-top: 54px;
  padding:0;
}

.nav > li > a {
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > a > img {
  max-width: none;
}

.nav > li {
  position: relative;
  float: left;
  text-transform: uppercase;
  height: 100%;
  border: solid 1px rgba(255, 255, 255, 0);
}

.nav > li > a:link,
.nav > li > a:visited {
  position: relative;
  display:inline-block;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 0px #366A76;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  transition: opacity .1s linear;
  border: none;
}

.nav > li > a:hover {
  text-decoration: none;
  color: #fff;
  /*background-color: #fff;*/
  /*padding: 0 31px;*/
  background: #DC322F;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -ms-transition: background .2s ease-in;
  -o-transition: background .2s ease-in;
  transition: background .2s ease-in;
}

.nav > li > a,
#source-code > a > img,
#scala-lang-twitter > a > img {
  margin-right: -10px;
}

#source-code > a, #scala-lang-twitter > a {
  background-color: transparent;
  border: none;
}

.splash {
  position: relative;
  width: 100%;
  min-width:1024px;
  height: 540px;
}

.splash-content {
  z-index: 10;
  position: relative;
  margin-top: 60px;
}

.download-btn-wrap {
  position: relative;
  z-index: 20;
  text-align: center;
  margin-top: -36px;
}

#download-button {
  display: block;
  position: relative;
  width: 175px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  background-color: #dc322f;
  color: white;
  border-radius: 25px;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  margin: 30px auto 0px;
}
#download-button span {
  display: inline-block;
  position: relative;
  width: 111px;
  height: inherit;
  vertical-align: 6px;
  text-align: left;
  -webkit-transition: all 300ms cubic-bezier(.6, 0, .6, 1);
     -moz-transition: all 300ms cubic-bezier(.6, 0, .6, 1);
      -ms-transition: all 300ms cubic-bezier(.6, 0, .6, 1);
       -o-transition: all 300ms cubic-bezier(.6, 0, .6, 1);
          transition: all 300ms cubic-bezier(.6, 0, .6, 1);
  -webkit-transform: translateX(-115px);
     -moz-transform: translateX(-115px);
      -ms-transform: translateX(-115px);
       -o-transform: translateX(-115px);
          transform: translateX(-115px);
}
#download-button .version-long {
  font-size: 18px;
  margin-left: -7px;
}
#download-button:hover .slider {
  padding-left: 20px;
  margin-right: 0;
}
#download-button .icon,
#download-button .activator .icon {
  width: 26px;
  height: 26px;
  margin: 7px;
  border-radius: 20px;
  padding: 0;
  background: url(/resources/img/download.png) 0 0 no-repeat;
  box-shadow: 1px 1px 0 rgba(0,0,0,.3);
  vertical-align: -7px;
}
#download-button:hover span {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
#download-button:hover.activator span {
  -webkit-transform: translateX(24px);
     -moz-transform: translateX(24px);
      -ms-transform: translateX(24px);
       -o-transform: translateX(24px);
          transform: translateX(24px);
}

/* Ideally, we would have only this:
#download-button:hover .icon {
  background-position-y: -26px;
}
#download-button.windows .icon {
  background-position-x: -26px;
}
#download-button.unix .icon {
  background-position-x: -52px;
}
 * but Firefox does not support background-position-{x,y}
 * so we have the following cartesian product instead:
 */
#download-button.macos .icon {
  background-position: 0 0;
}
#download-button.windows .icon {
  background-position: -26px 0;
}
#download-button.unix .icon {
  background-position: -52px 0;
}
#download-button.macos:hover .icon {
  background-position: 0 -26px;
}
#download-button.windows:hover .icon {
  background-position: -26px -26px;
}
#download-button.unix:hover .icon {
  background-position: -52px -26px;
}
#download-button.activator .icon {
  background-position: 0 -26px;
}

#getting-started-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0,0,0,.2);
  opacity: 0;
  overflow: hidden;
  z-index: 9999;
  -webkit-transition: height 1ms linear 500ms, opacity 500ms cubic-bezier(0, 0.5, 0.5, 1);
  -moz-transition: height 1ms linear 500ms, opacity 500ms cubic-bezier(0, 0.5, 0.5, 1);
  transition: height 1ms linear 500ms, opacity 500ms cubic-bezier(0, 0.5, 0.5, 1);
}
#getting-started-popup.open {
  height: 100%;
  opacity: 1;
  -webkit-transition: height 1ms linear, opacity 500ms cubic-bezier(0, 0.5, 0.5, 1);
  -moz-transition: height 1ms linear 500ms, opacity 500ms cubic-bezier(0, 0.5, 0.5, 1);
  transition: height 1ms linear, opacity 500ms cubic-bezier(0, 0.5, 0.5, 1);
}

#getting-started-popup .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  max-width: 100%;
  background: white;
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  opacity: 0;
  transform: translate(-49%, -99%);
  transform: translate(calc(-49%), calc(-99%));
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-webkit-calc(-49%), -webkit-calc(-99%));
  -webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0.5, 1), top 1ms linear 1000ms, opacity 400ms cubic-bezier(1, 0, 0.5, 1);
  -moz-transition: -moz-transform 400ms cubic-bezier(1, 0, 0.5, 1), top 1ms linear 1000ms, opacity 400ms cubic-bezier(1, 0, 0.5, 1);
  transition: transform 400ms cubic-bezier(1, 0, 0.5, 1), top 1ms linear 1000ms, opacity 400ms cubic-bezier(1, 0, 0.5, 1);
}
#getting-started-popup.open .popup {
  opacity: 1;
  transform: translate(calc(-49%), calc(-49%));
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-webkit-calc(-49%), -webkit-calc(-49%));
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0, 0.5, 0.5, 1) 400ms, top 1ms linear, opacity 400ms cubic-bezier(0, 0.5, 0.5, 1) 400ms;
  -moz-transition: -moz-transform 400ms cubic-bezier(0, 0.5, 0.5, 1) 400ms, top 1ms linear, opacity 400ms cubic-bezier(0, 0.5, 0.5, 1) 400ms;
  transition: transform 400ms cubic-bezier(0, 0.5, 0.5, 1) 400ms, top 1ms linear, opacity 400ms cubic-bezier(0, 0.5, 0.5, 1) 400ms;
}

#getting-started-popup .header {
	font-size: 24px;
	color: #DC322F;
}

#download-btn {
  padding: 0 31px;
  background: #DC322F;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 20px/63px 'proxima-nova', sans-serif;
  display: inline-block;
  width: 300px;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#download-btn:hover {
  background:#333;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.learn-more-btn {
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff !important;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
  border-bottom: none !important;
}

.learn-more-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.scala-logo {
  position: relative;
  float: left;
  z-index: 2;
  margin-top: 40px;
  /*width: 200px;*/
}

.scala-logo > a {
  border-bottom: none;
}

.spiral-logo {
  position: relative;
  float: left;
  height: 54px;
  width: 40px;
}

.scala-text {
  position: relative;
  line-height: 48px;
  font-family: "museo-slab", serif;
  font-weight: 900;
  color: #fff;
  font-size: 48px;
}

.splash-text{
  margin-top: 40px;
}

.splash-text > h2 {
  font-size: 48px;
  line-height: 54px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -1px;
  color: #fff;
  /*width: 600px;*/
}

.splash-pitch {
  font-family: "museo-slab", serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  margin-bottom: 14px;
  color: #fff;
  width: 560px;
}

.events {
  position: relative;
  text-align: center;
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding-top: 26px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
  background-color: #174753;
  min-height: 60px;
}

.upcoming-events {
  text-align: center;
}

.upcoming-events > h2 {
  font-family: "museo-slab", serif;
  font-size: 20px;
  color: #839496;
  font-weight: normal;
  font-style: italic;
  /*text-transform: uppercase;*/
  margin-bottom: 12px;
  margin-top: 0px;
  background: url(/resources/img/gray-line.png) center repeat-x;
}

.upcoming-events > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  background-color: #174753;
  padding: 0 10px;
}

.event-item-wrap {
  cursor: pointer;
  position: relative;
  float: left;
  text-align: left;
  min-height: 80px;
  margin-right: 8px;
  width: 160px;
  padding: 10px;
}

.event-item-wrap:hover {
  background: rgba(255, 255, 255, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -ms-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.event-item-wrap:last-child {
  margin-right: 0px;
}

.event-item {
  position: absolute;
  bottom: 0px;
}

.event-title {
  overflow: hidden;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.95em;
}

.event-title a:link,
.event-title a:visited {
  /*color: #A2B5BA;*/
  color: #fff;
  border: none;
}

.event-float-right {
  overflow: hidden;
  position: relative;
  float: left;
  height: 54px;
  width: 128px;
}

.event-float-right,
.event-location,
.event-date {
  word-wrap: break-word;
}

.event-location {
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  line-height: 0.95em;
  /*color: #839496;*/
  color: rgba(255, 255, 255, 0.65);
  font-weight: 600;
  /*color: rgba(114, 208, 235, 0.8);*/ /*#72D0EB;*/
  /*font-weight: bold;*/
  /*color: rgba(101, 123, 131, 0.7);*/
}

.events-page .event-title > a,
.events-page .event-date,
.events-page .event-location {
  color: #174753;
}

.event-date {
  font-family: "museo-slab", serif;
  color: #839496;
  font-size: 13px;
  line-height: 1.1em;
}

.event-logo {
  position: relative;
  float: left;
  bottom: 0px;
  margin-right: 4px;
  height: 54px;
}

.event-logo > a > img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 34px;
  height: 34px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.3;
}

.event-item-wrap:hover img {
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

.training {
  position: relative;
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding-top: 26px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
  background-color: #72D0EB; /*#E2E9EF;*/ /*dark bluish #174753*/
  min-height: 60px;
  text-align: center;
}

.upcoming-training {
  text-align: center;
}

.upcoming-training > h2 {
  font-family: "museo-slab", serif;
  font-size: 20px;
  /*color: #657B83;*/
  color: #fff;
  /*text-shadow: 1px 1px 0px #50B8E1;*/
  font-weight: normal;
  font-style: italic;
  /*text-transform: uppercase;*/
  /*margin-bottom: 12px;*/
  margin-top: 0px;
  background: url(/resources/img/white-line.png) center repeat-x;
}

.upcoming-training > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  background-color: #72D0EB;
  padding: 0 10px;
}

.training-item-wrap {
  padding: 10px;
  position: relative;
  float: left;
  /*background: rgba(255, 255, 255, 0.15);*/
  /*background: rgba(23, 71, 83, 0.1);*/
  min-height: 90px;
  margin-right: 8px;
  width: 160px;
  text-align: left;
/*  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: solid 3px #fff;*/
}

.training-item-wrap:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -ms-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.training-item {
  position: absolute;
  bottom: 0px;
}

.training-item-wrap:last-child {
  margin-right: 0px;
}

.training-date {
  position: relative;
  float: left;
  bottom: 0px;
  height: 70px;
  margin-right: 8px;
}

.date {
  text-align: center;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  width: 34px;
  height: 34px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.month {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.1em;
  width: 34px;
  background-color: #DC322F;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.day {
  font-family: "museo-slab", serif;
  line-height: 1.2em;
  color:#174753;
  font-size: 18px;
}

.year {
  /*font-family: 'proxima-nova', sans-serif;*/
  color:#174753;
  font-weight: bold;
  text-align: center;
  width: 34px;
}

.training-title {
  overflow: hidden;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.95em;
}

.training-title a:link,
.training-title a:visited {
  color: #174753;
  border: none;
}

.training-float-right {
  overflow: hidden;
  position: relative;
  float: left;
  /*min-height: 60px;*/
  height: 70px;
  width: 128px;
}

.training-float-right,
.training-trainers-name,
.training-location,
.training-organizer {
  word-wrap: break-word;
}

.training-location {
  white-space: nowrap;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  /*color: #002B36;*/
  /*font-weight: bold;*/
  /*color: rgba(101, 123, 131, 0.7);*/
}

.training-trainers-name {
  font-family: "museo-slab", serif;
  /*color: #839496;*/
  /*color: #F2F5F8;*/
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  line-height: 1.1em;
}

.training-organizer {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.trainings-page .training-item-wrap {
  margin-top: 30px;
}

.trainings-page .training-trainers-name,
.trainings-page .training-location,
.trainings-page .training-organizer {
  color: #839496;
}

.center {
  text-align: center;
}

#training-btn,
#event-btn {
  margin-top: 32px;
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

#training-btn:hover,
#event-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.news {
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding: 40px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fff; /* gentle, light blueish: #E2E9EF;*/
  min-height: 300px;
}

h2.recently,
h2.whats-new {
  font-family: "museo-slab", serif;
  font-size: 20px;
  color: #657B83;
  font-weight: normal;
  font-style: italic;
}

.twitter {
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #72D0EB; /*#E2E9EF;*/ /*yellowish: #FDF6E3*/
  min-height: 180px;
  text-align: center;
}

h2.twitterhdr {
  font-family: "museo-slab", serif;
  font-size: 20px;
  color: #fff;
  /*color: #657B83;*/
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  background: url(/resources/img/white-line.png) center repeat-x;
}

h2.twitterhdr > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  background-color: #72D0EB;
  padding: 0 10px;
}

#twitter-btn {
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
  border-bottom: none;
}

#twitter-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.code-snippet-box {
  width: 100%;
  min-width:1024px;
  background-color: #fff;
  min-height: 400px;
}

.code-snippet-arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #073642;
}

.code-snippet-arrow.hover {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #17404A;
}

#code-snippet-row1 > .container > .row,
#code-snippet-row2 > .container > .row {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
}


#hidden-java-interop,
#hidden-type-inference,
#hidden-concurrency-distribution,
#hidden-traits,
#hidden-pattern-matching,
#hidden-higher-order-functions {
  display: none;
}

.epfl-picture-box {
  background: url(/resources/img/epfl-bc.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-width:1024px;
  min-height: 400px;
}

.darkblue-overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: rgba(15, 33, 43, 0.4);
  height: 100%;
  bottom: 0px;
}

.ontop {
  position: relative;
  z-index: 100;
}

.splash-overlay {
  height: 100%;
  width: 100%;
}

.bullet-point-box {
  width: 100%;
  min-width:1024px;
  min-height: 400px;
  padding-top: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.bullet-point {
  text-align: center;
  height: 100%;
}

.bullet-point.span12:hover {
  background: #073642;
}

.bullet-point:hover {
  background: rgba(41, 75, 83, 0.5);
}

.bullet-point > h2 {
  font-family: "museo-slab", serif;
  font-size: 20px;
  color: #839496;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0px;
  background: url(/resources/img/gray-line.png) center repeat-x;
}

.bullet-point > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  background-color: #073642;
  padding: 0 10px;
}

.bullet-point > p.click {
  padding: 0px;
  margin-bottom: 26px;
  color: #17404A;
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #3d626b;
  font-weight: normal;
  font-style: italic;
}

.bullet-point > p.click:before {
  content: "\2767";
  display: inline-block;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}

.bullet-point > p.click:after {
  content: "\2767";
}

.bullet-point > h3 {
  text-align: center;
  line-height: normal;
  font-size: 17pt;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.bullet-point > p {
  text-align: center;
  font-family: "museo-slab", serif;
  font-weight: normal;
  margin: 0 15px 15px;
  font-size: 13pt;
  line-height: 17pt;
  color: #839496;
}

#java-interop:hover,
#type-inference:hover,
#concurrency-distribution:hover,
#traits:hover,
#pattern-matching:hover,
#higher-order-functions:hover {
  cursor: pointer;
}

#code-snippet-row1,
#code-snippet-row2 {
  display: none;
/*  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #586E75;*/
  background-color: #002B36;72D0EB
  /*background-color: #72D0EB;*/
}

.where-to-learn-more {
  padding-top: 20px;
  margin-bottom: 26px;
  color: #17404A;
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #3d626b;
  font-weight: normal;
  text-align: center;
}

.where-to-learn-more p {
  font-style: italic;
}

.news-item {
  color: #839496;
  /*border-bottom: solid 2px #93A1A1;*/
  padding-bottom: 8px;
  margin-bottom: 32px;
}

.news-category {
  display: block;
  color: #DC322F;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: .5em;
}

.news-title {
  line-height: normal;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 22px;
  color: #174753;
  margin-bottom: 10px;
}

.news-title > a:link,
.news-title > a:visited {
  color: #174753;
  border: none;
}

.news-title > a:hover {
  /*background: #FDF6E3;*/
  color: #DC322F;
  text-decoration: none;
}

.by {
  font-family: "museo-slab", serif;
  color: #586E75;
  /*font-weight: 600;*/
  font-size: 16px;
}

.news-author {
  margin-top: 8px;
}

.news-author-name {
  display: inline;
  font-family: "museo-slab", serif;
  color: #586E75;
  line-height: 1.1em;
  font-size: 16px;
  /*font-style: italic;*/
}

.news-date {
  color: #839496;/*#859900;*/
  border-top: solid 1px #93A1A1;/*rgba(44, 56, 70, 0.4);*/
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

.news-date > img {
  margin-right: 0px;
  margin-top: -5px;
}

.news-body {
  margin-top: 14px;
}

.news-body, .recent-news-body {
  line-height: 1.4em;
  color: #586E75;
}

/*.news-body > p > a:link,
.news-body > p > a:visited,
.recent-news-body > p > a:link,
.recent-news-body > p > a:visited {
  color: #00b0e3;
}*/

/*.news-body > p > a:hover,
.recent-news-body > p > a:hover {
  color: #174753;
}*/

.archive-btn {
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'proxima-nova', sans-serif;
  display: inline-block;
  color: #fff !important;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
  border-bottom: none;
}

.archive-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color: #fff !important;
}

.post-news,
.see-more-tweets,
.add-training,
.add-event {
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #3d626b;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.add-training {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  color: rgba(23, 71, 83, 0.3);
}

.add-event {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.2);
  /*color: #839496;*/
}

.add-event a:link,
.add-event a:visited {
  /*color: #839496;*/
  color: rgba(255, 255, 255, 0.4);
  border: none;
}

.add-training a:link,
.add-training a:visited {
  /*color: #3d626b;*/
  /*color: #225966;*/
  color: rgba(23, 71, 83, 0.5);
  border: none;
  /*border-bottom: solid 1px #DC322F;*/
}

.add-training a:hover,
.add-event a:hover {
  color: #DC322F;
  text-decoration: none;
}

.recent-news-item:first-child {
  padding-top: 20px;
  border-top: 0px;
  border-bottom: 1px solid #F2F5F8;
}

.recent-news-item:last-child {
  padding-bottom: 20px;
  border-top: 1px solid #F2F5F8;
  border-bottom: 0px;

}

.recent-news-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #F2F5F8;
  border-bottom: 1px solid #F2F5F8;
}

.recent-news-item:hover {
  background: rgba(226, 233, 239, 1);
  border-bottom: 1px solid rgba(206, 210, 214, 0.6);
  border-top: 1px solid rgba(206, 210, 214, 0.6);
}

.recent-news-item:first-child:hover {
  background: rgba(226, 233, 239, 1);
  border-bottom: 1px solid rgba(206, 210, 214, 0.6);
  border-top: 0px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.recent-news-item:last-child:hover {
  background: rgba(226, 233, 239, 1);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid rgba(206, 210, 214, 0.6);
  border-bottom: 0px;
}

.recent-news-items {
  background: rgba(226, 233, 239, 0.4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.recent-news-author {
  margin-top: 6px;
}

.recent-news-author-name,
.recent-news-author > .by {
  display: inline;
  /*color: #DC322F;*/
  color: #00b0e3;
  font-family: "museo-slab", serif;
}

.recent-news-date {
  padding-top: 3px;
  margin-top: 3px;
  display: inline-block;
  font-family: "museo-slab", serif;
  font-size: 12px;
  width: 100%;
  /*line-height: 1.5em;*/
  border-top: 1px solid rgba(206, 210, 214, 0.6);
}

.recent-news-category {
  display: inline-block;
  position: relative;
  float: right;
  text-decoration: none;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  /*padding-top: 3px;*/
  /*padding-bottom: 3px;*/
  font-size: 10px;
  background: #DC322F;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.recent-news-title {
  margin-top: 8px;
  line-height: normal;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1em;
  color: #174753;
}

.recent-news-title a:link,
.recent-news-title a:visited {
  color: #174753;
  border: none;
}

.recent-news-title a:hover {
  color: #DC322F;
  text-decoration: none;
}

.recent-news-body {
  margin-top: 8px;
}

.rss {
  float: right;
}

.tweets { position: relative; zoom: 1; }
.tweets:after {
  content: " ";
  display: block;
  clear: both;
}

.tweet-container {
  position: relative;
  float: left;
  width: 215px;
  height: 230px;
  margin: 0 10px;
  vertical-align: bottom;
}

.tweet-container:last-child {
  margin-right: 0px;
}

.tweet { position: absolute; bottom: 60px; }

.tweet .text {
  font-size: 14px;
  text-align: left;
  min-height: 20px;
  padding: 14px;
  background-color: #F2F5F8;
  /*background-color: rgba(255, 255, 255, 1); /*rgba(253, 246, 227, 1)*/*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);*/
  /*-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);*/
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);*/
  color: #2C3846;
  text-shadow: 0 1px 0 #fff;
  margin-top: 10px;
}

.tweet .text a { color: #DC322F; border: none; }
.tweet .text a:hover { color: #00b0e3; text-decoration: none;}
.original-tweet { font-family: "museo-slab", serif; font-size: 13px; padding-top: 8px; color: #fff;}
.original-tweet > a { color: #fff; /*color: #839496;*/ font-weight: normal; text-decoration: none; border: none; }
.original-tweet > a:hover { color: #DC322F; }
.tweet-username { color: rgb(131, 148, 150); white-space: nowrap; line-height: 1em; display: inline-block; padding-left: .5em; }
.tweet-username > a { color: #fff; /*color: #657B83;*/ font-weight: bold; text-decoration: none; border: none; }
.tweet-username > a:hover { color: #DC322F; border: none; }
.triangle { position: relative; bottom: 9px; left: 40px; height: 0px; width: 1px; margin-left: auto; margin-right: auto; border-top: 16px solid rgba(0, 30, 30, 0.7); border-left: none; border-right: 16px solid transparent; border-bottom: none; }
.bottom-anchored { position: absolute; bottom: 0px; }
.avatar-wrapper { border-radius: 40px; overflow: hidden; width: 50px; height: 50px; display: inline-block; margin-left: 12px; }

.caret-container{ position: absolute; bottom: 60px; }
.caret-divider{ position:absolute;top:0;left:28px;width:16px;height:8px}
.caret-container .caret-divider{top:-10px}
.caret-divider .caret-outer,.caret-divider .caret-inner{position:absolute;width:0;height:0;vertical-align:text-bottom;border-style:solid}
/*.caret-divider .caret-outer{border-top:8px solid rgba(255, 255, 255, 1);border-right:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid transparent;top:0;left:0;z-index:10}*/
/*.caret-divider .caret-inner{border-top:7px solid rgba(255, 255, 255, 0);border-right:7px solid transparent;border-bottom:7px solid transparent;border-left:7px solid transparent;top:0;left:1px;z-index:11}*/
.caret-divider .caret-outer{border-top:8px solid #F2F5F8;border-right:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid transparent;top:0;left:0;z-index:10}
.caret-divider .caret-inner{border-top:7px solid rgba(255, 255, 255, 0);border-right:7px solid transparent;border-bottom:7px solid transparent;border-left:7px solid transparent;top:0;left:1px;z-index:11}


.thumbnail {
  padding: 0;
  border: 0;
  box-shadow: none;
}
.thumbnail > img {
  margin-left: 4px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.scala-lang-twitter {
  color: #fff;
  font-size: 32px;
  /*font-family: 'proxima-nova', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: bold;
  /*text-transform: uppercase;*/
  margin-bottom: 12px;
  text-shadow: 0 2px 0 #000;
}

.scala-lang-twitter a:link,
.scala-lang-twitter a:visited {
  color: #fff;
  border: none;
}

.scala-lang-twitter a:hover {
  color: #D03F00;
  text-decoration: none;
}

/*.news,
.trainings-events {
  color: #fff;
  font-size: 32px;
  font-family: "museo-slab", serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-shadow: 0 2px 0 #000;
  line-height: 1.1em;
}*/

.footer {
  position: relative;
  z-index: 10;
  background: #002B36;
  /*text-align: center;*/
  color: #fff;
  padding-top: 20px;
  margin-top: -50px;
}

.copyright {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 12px;
  line-height: 1.2em;
  /*font-family: "museo-slab", serif;*/
  position: relative;
  float: left;
}

.footer > p {
  vertical-align: bottom;
}

.footer ul {
  -moz-box-sizing: content-box;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 10px 0 20px 0;
  width: 188px;
}

.footer a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  border: none;
}

.footer a:hover {
  color: #DC352E;
  text-decoration: none;
}

.footer li {
  /*font-family: "museo-slab", serif;*/
  text-align: left;
}

.footer ul:last-child {
    padding-right: 0;
}

.footer ul li a {
    /*color: rgba(255, 255, 255, 0.7);*/
    color: #839496;
    font-size: 14px;
    text-decoration: none;
    border: none;
}

.footer ul li a:hover {
    text-decoration: none;
}

.footer ul li h5 {
    /*border-bottom: 1px solid rgba(131, 148, 150, 0.6);*/
    /*color: rgba(255, 255, 255, 0.9);*/
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    /*margin-bottom: 10px;*/
    /*padding-bottom: 10px;*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);*/
    text-transform: uppercase;
}
.footer ul li h5 a {
    font-size: 14px;
    opacity: 1;
    border: none;
}

.scala-logo-footer {
  position: relative;
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}

/* doc blocks on the learn page */

.doc-block {
  text-align: center;
  float: left;
  /*border: 1px solid #000;*/
}

/*.doc-block > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  -moz-border-image: url(/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url(/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url(/resources/img/diamond.png) 0 34 repeat;
  -o-border-image: url(/resources/img/diamond.png) 0 34 repeat;
  border-image: url(/resources/img/diamond.png) 0 34 repeat;
  background-color: #191a1a;
  padding: 0 10px;
}
*/

.doc-block > h3 {
  text-align: center;
  line-height: normal;
  font-size: 17pt;
  /*font-family: 'proxima-nova', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: bold;
  text-transform: uppercase;
  /*color: #fff;*/
}

.doc-block > p {
  /*text-align: center;*/
  /*font-family: "kulturista-web", serif;*/
  margin: 0 15px 15px;
  font-size: 13pt;
  line-height: 17pt;
  /*color: #96938C;*/
}

/*div.download-wrapper {
  width: 400px;
  text-align: center;
}*/

div.download {
  margin-top: 10px;
  margin-bottom: 10px;
}

a.btn.download {
  background-color: #00B1BF;
  border-color: #005A61 ;
  padding: 9px 20px 7px;
  border-radius: 3px;
  border-bottom: none;
}

a.btn.download:hover, a.btn.download:focus { background-color:#58ccd5; border-color:#00B1BF; color: #FFF; text-shadow: 0 -1px 1px rgba(0, 0, 0, .7); }

.marker {
  position: absolute;
  top: 120px;
  right: 280px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(60deg);
}

.marker:hover {
  cursor: pointer;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #8d4143;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #8F1123; /*rgba(193, 44, 42, 1)*/
  z-index: 10;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(60deg);
}

.dot {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  left: -25px;
  z-index: 2;
  opacity: 0;
  border: 10px solid #a60300; /*rgba(0,166,205,1);*/
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-animation: flash 2s ease-out;
  -moz-animation: flash 2s ease-out;
  animation: flash 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes flash {
  0% {-moz-transform: scale(0);opacity: 0.0; }
  25% {-moz-transform: scale(0);opacity: 0.1; }
  50% {-moz-transform: scale(0.1);opacity: 0.3;}
  75% {-moz-transform: scale(0.5);opacity: 0.5;}
  100% {-moz-transform: scale(1);opacity: 0.0;}
}

@-webkit-keyframes flash {
  0% {-webkit-transform: scale(0);opacity: 0.0; }
  25% {-webkit-transform: scale(0);opacity: 0.1; }
  50% {-webkit-transform: scale(0.1);opacity: 0.3; }
  75% {-webkit-transform: scale(0.5);opacity: 0.5; }
  100% {-webkit-transform: scale(1);opacity: 0.0; }
 }

.tip {
  display: none;
  position: absolute;
  top: 145px;
  left: 650px;
  background: rgba(133, 153, 0, 0.6);
  border: 0px;
  padding: 10px;
  width: 400px;
  padding: 20px;
  font-family: "museo-slab", serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #fff;
}

.tip:after {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 12px 20px;
  border-color: transparent transparent rgba(133, 153, 0, 0.6) transparent;
  left: 0px;
  top: -12px;
  content: '';
}

 .ring {
  position: relative;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  margin-top: -200px;
  z-index: 40;
  border: 60px solid rgba(0, 43, 54, 0.5);
  /*background: #002B36;*/
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
 }

 .inner-ring {
  position: relative;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  z-index: 40;
  border: 0px;
  background: #002B36;
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
 }

 .central {
  position: relative;
  height: 345px;
  margin-top: -175px;
 }

.translucent-circle {
  position: relative;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  /*margin-top: -200px;*/
  z-index: 40;
  border: 60px solid rgba(0, 43, 54, 0.5);
  /*background: #002B36;*/
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
 }

.opaque-circle {
  position: absolute;
  height: 225px;
  width: 225px;
  left:0;
  right:0;
  top: 60px;
  bottom: 0;
  margin: 0 auto;
  /*margin-top: -285px;*/
  z-index: 40;
  border: 0px;
  background: #002B36;
  -webkit-border-radius: 211px;
  -moz-border-radius: 211px;
  border-radius: 211px;
}

.central-btn {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  padding: 0 31px;
  background: #859900;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 20px/63px 'proxima-nova', sans-serif;
  width: 300px;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
}

a.central-btn.download,
a.central-btn.api {
  border-bottom: 0px;
  color: #fff;
}

.central-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.scala-version {
  line-height: 0.9em;
  font-size: 36px;
  font-weight: 100;
  z-index: 99;
  background: transparent;/*rgba(7, 54, 66, 0.5);*/
  top: 265px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  /*left: 320px;*/
  width: 120px;
  text-align: center;
  font-family: "museo-slab", serif;
  color: #174753;
  text-transform: none;
  padding: 0 16px;
}

.scala-version:hover {
 background: transparent;
 color: #174753;
 cursor: text;
}

.superbold {
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
}

.download {
  left: 120px;
  top: 145px;
}

.for-platform {
  display: block;
  position: absolute;
  width: 118px;
  text-align: center;
  top: 46px;
  font-family: "museo-slab", serif;
  font-size: 12px;
  font-style: italic;
  text-transform: none;
  line-height: 0px;
  color: #43621B;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

a.for-platform {
  border-bottom: none;
}

.for-platform:hover, .central-btn:hover > .for-platform {
  color: #690B16;
  -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}

.api {
  text-align: right;
  right: 120px;
  top: 145px;
}

.big-scala-spiral {
  position: absolute;
  left: 378px;
  top: 30px;
  z-index: 100;
}

.darkbluebar {
  width: 100%;
  height: 175px;
  background-color: #002B36;
  margin-top: -173px;
}

.toptip {
  display: none;
  top: -24px;
  left: -30px;
  background: rgba(0, 43, 54, 0.6);
  border-radius: 5px;
  position: absolute;
  font-family: "museo-slab", serif;
  font-size: 12px;
  color: #fff;
  width: 100px;
  line-height: 1.1em;
  text-align: center;
  padding: 4px;
  text-transform: none;
}

.toptip:after {
  position: absolute;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 43, 54, 0.6);
  left: 48px;
  bottom: -6px;
  content: '';
}

.left-side {
  color: #839496;
  z-index: 50;
  position: absolute;
  top: 42px;
  left: 142px;
  width: 164px;
  text-align: center;
  font-family: "museo-slab", serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}

.right-side {
  color: #839496;
  z-index: 50;
  position: absolute;
  top: 42px;
  right: 142px;
  width: 164px;
  text-align: center;
  font-family: "museo-slab", serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}

.left-side a, .right-side a, .where-to-learn-more a.italicize {
  color: #839496;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  border: none;
}

.left-side a:hover, .right-side a:hover, .where-to-learn-more a.italicize:hover {
  color: #DC322F;
}

.getting-started {
  margin-bottom: 4px;
  border-bottom: 1px solid #073642;
}

.dev-releases, .all-releases {
  margin-bottom: -4px;
}

figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
}

figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 1.6em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #e0e0e0; /* Old browsers */
  background: -moz-linear-gradient(top,  #e0e0e0 0%, #cacaca 14%, #aaaaaa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(14%,#cacaca), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e0e0e0 0%,#cacaca 14%,#aaaaaa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

.page-container {
  position: relative;
  background: #F2F5F8;
  /*background-color: #fff;*/
  /*padding-bottom: 40px;*/
}

.clearall {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.main-page-column {
  position: relative;
  height: 100%;
  float: left;
  display: block;
  width: 610px;
  background: white;
  padding-top: 24px;
  padding-left: 9999em;
  margin-left: -9999em;
  top: -50px;
  padding-top: 28px;
  padding-right: 40px;
  line-height: 20px;
  z-index: 100;
  margin-right: 0px;
  min-height: 540px;
  padding-bottom: 50px;
  /*padding-bottom:100%;*/
  /*margin-bottom:-100%;*/
  -moz-box-shadow:    3px 3px 0px rgba(0, 43, 54, 0.06); /*#50B8E1;*/
  -webkit-box-shadow: 3px 3px 0px rgba(0, 43, 54, 0.06); /*#50B8E1;*/
  box-shadow:         3px 3px 0px rgba(0, 43, 54, 0.06); /*#50B8E1;*/
  line-height: 1.5em;
}

.main-page-column > pre.prettyprint {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.main-page-column > p:nth-of-type(1) {
  margin-top: 14px;
  margin-bottom: 20px;
}

.main-page-column > p {
  margin-bottom: 20px;
}

.main-page-column > ul,
.main-page-column > ol {
  margin-bottom: 20px;
}

.main-page-column > p + ul,
.main-page-column > p + ol { margin-top: -14px; }

.main-page-column > ul > li > p { margin-bottom: 0px; }

.main-page-column > h2 {
  font-family: "museo-slab", serif;
  color: #DC322F;
  font-weight: 400;
  line-height: 1.1em;
  margin-top: 28px;
}

.main-page-column > h3 {
  font-family: "museo-slab", serif;
  font-weight: 400;
  color: #27b3d9;
  line-height: 1.1em;
  margin-top: 28px;
}

.main-page-column > h4 {
  font-size: 19px;
  color: #073642;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.main-page-column > h5 {
  font-size: 16px;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.main-page-column > h6 {
  font-size: 16px;
  color: #073642;
  margin-bottom: 0px;
}

.main-page-column > ol,
.main-page-column > ul {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
    line-height: 1.5em;
    margin-top: 1em;
}


.main-page-column > ol > li,
.main-page-column > ul > li {
    position: relative;
    margin: 0 0 6px 2em;
    padding: 4px 8px;
    list-style: none;
}

.main-page-column > ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 12px;
  margin-top: 3px;
  padding: 4px 4px 4px 4px;
  color: #fff;
  background: #859900;
  border-radius: 60px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

.main-page-column > ul > li {
  list-style: disc;
  line-height: 1.3em;
  font-size: 15px;
}

/*.main-page-column a:link,
.main-page-column a:visited {
  color: #27B3D9;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  border-bottom: 2px solid #F2F5F8;
}*/

/*.main-page-column a:hover {
  color: #DC322F;
  text-decoration: none;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}*/

code {
  /*background-color: #f6f6f6;*/
  background-color: #F2F5F8;
  color: #7e9cab;
  display: inline;
  font-size: 0.9em;
  margin: 0 3px 0 3px;
  padding: 0 2px 0 2px;
  border: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.written {
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  /*color: #073642;*/
  color: rgba(0, 43, 54, 0.35);
  font-size: 14px;
  font-weight: bold;
}

.written > .by {
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  font-family: "museo-slab", serif;
  font-size: 14px;
  color: rgba(0, 43, 54, 0.45);
}

.sidebar {
  width: 300px;
  min-height: 100%;
  min-height: 540px;
  height: 100%;
  display: inline;
  float: left;
  position: relative;
  margin-left: 0px !important;
  background: #F2F5F8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 9999em 72px 20px;
  padding-bottom: 50px;
  position: relative;
  margin-right: -9999em;
  top: auto;
  bottom: auto;
  /*padding-bottom:100%;*/
  /*margin-bottom:-100%;*/
}

.sidebar-inner {
  width: 320px;
  padding: 30px;
  padding-top: 18px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sidebar {
        margin-left: 0px !important;
    }
    html.safari .sidebar,
    html.chrome25 .sidebar {
        margin-left: 640px !important;
    }

    .section .search .sidebar,
    .section-users .sidebar {
        margin-left: 0 !important;
    }
}

.clearfix {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

#page-title {   /*font-weight: 100;*/   margin-top: 20px;   font-family:
'proxima-nova', sans-serif;   font-size: 32px;   line-height: 20px;   color:
#fff;   /*color: #2797b7;*/   /*color: #50B8E1;*/   /*color: rgba(7, 54, 66,
0.3);*/   text-transform: uppercase;   text-shadow: 1px 1px 0px rgba(0, 43,
54, 0.15); }

div#toc { margin-left: -16px; width: 100%; }
div#toc ul { list-style: none; margin: 0 0 5px 8px; }
div#toc ul li { padding-bottom: 8px; line-height: 105%; font-weight: bold; width: 100%; }
div#toc > ul > li > a:link, div#toc > ul > li > a:visited {
  color: #073642;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  border-bottom: 2px solid #F2F5F8;
}
div#toc > ul > li > a:hover {
  color: #DC322F;
  text-decoration: none;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}
div#toc > ul > li > ul > li {list-style: none; border-left: solid 2px #E2E8EB; }
div#toc > ul > li > ul > li > ul { list-style: none; margin-left: -18px; }
div#toc > ul > li > ul > li > ul > li:before {
  color: #cbd8de;
  padding-left: 0px;
  margin-left: 10px;
  content: "\2192";
}
div#toc > ul > li > ul > li > ul > li > a:link, div#toc > ul > li > ul > li > ul > li > a:visited { padding-left: 6px; }
/*div#toc > ul > li > ul > li > ul > li { padding-left: 14px; }*/

div#toc ul ul { list-style: disc; }
div#toc ul ul ul { list-style: square; }
div#toc ul li ul li { padding-bottom: 0px; line-height: 18px; font-weight: normal; padding-left: 8px; }
/*div#toc > ul > li > ul > li:before { content: '\2713'; margin: 0 1em; }*/
div#toc ul > li + ul > li { margin-top: 12px; }

.contents {
  font-family: "museo-slab", serif;
  font-size: 17px;
  color: #9ab0bb;
  font-style: italic;
  margin-left: -6px;
  margin-bottom: 10px;
}

.traits, .concurrency, .java-interop-wrapper, .type-inference {
  float: left;
}

.snippet-explanation {
  position: relative;
  float: left;
  width: 420px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.3em;
}

.snippet-explanation > h3 {
  font-family: "museo-slab", serif;
  font-weight: normal;
  /*margin: 0 15px 15px;*/
  /*font-size: 13pt;*/
  /*line-height: 17pt;*/
  color: #fff;
}

.snippet-explanation > p {
  margin-bottom: 18px;
}

.snippet-explanation > p > code {
  background: rgba(88, 110, 117, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px rgba(88, 110, 117, 0.2);
  color: rgba(38, 139, 210, 0.8);
}

.newsbox.left { overflow: hidden; }

.shadow {
  display: none;
  position: relative;
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-gradient(linear, top, bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  margin-top: -234px;
  height: 200px;
  width: 100%;
  border-bottom: solid 2px #93A1A1;
  margin-bottom: 32px;
  text-align: center;
}

.shadow > .more {
  position: relative;
  padding-top: 176px;
}

.shadow > .more > a {
  color: #839499;
  font-family: "museo-slab", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.1em;
  border-bottom: none;
}

.shadow > .more > a:hover {
  color: #DC322F;
}

.centerclear {
  display: block;
  margin: 0 auto;
  clear: both;
}


.bigcircle-wrapper {
  overflow: auto;
  position: relative;
}

.bigcircle {
  font-size: 48px;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 32px;
  color: #fff;
  background: rgba(226, 232, 235, 0.8);
  border-radius: 180px;
  width: 90px;
  height: 90px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

.bigcircle-content {
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
}

.h3-style {
  position: relative;
  font-family: "museo-slab", serif;
  font-weight: 400;
  color: #27b3d9;
  line-height: 1.1em;
  font-size: 24.5px;
  text-align: center;
}

.tilde {
  color: rgba(226, 232, 235, 1);
}

.install {
  font-size: 11px;
  font-style: italic;
  text-align: center;
}