---
---
/* ==========================================================================
   Custom styles, overrides bootstrap
   ========================================================================== */

* {
  margin: 0;
}

*, *:after, *:before {
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body {
  background: url({{ site.baseurl }}/resources/img/transparent_noise.png) repeat;
  background-color: rgba(15, 33, 43, 0.9);
  font-family: 'proxima-nova', sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 1.3em;
}

@font-face {
  font-family: FuturaBT;
  src: url('{{ site.baseurl }}/resources/FuturaBT-Bold.ttf');
}

.navbar-wrap {
  float: right;
  position: relative;
  height: 100%;
}

.navbar-inner {
  position: relative;
  height: 100%;
  min-height: 40px;
}

a.brand {
  margin-left: -20px;
  opacity: 0;
  float: left;
  border-bottom: 2px solid #fff;
}

.nav {
  position: relative;
  float: right;
  list-style-type:none;
  margin:0;
  padding:0;
  height: 100%;
}

.nav > li> .dropdown > a {
  display: block;
}
.nav > li > .dropdown > a:hover,
.nav > li > .dropdown > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > .dropdown > a > img {
  max-width: none;
}

.nav > li {
  position: relative;
  float: left;
  text-transform: uppercase;
  height: 100%;
  border: solid 1px rgba(255, 255, 255, 0);
}

.nav > li > .dropdown > a:link,
.nav > li > .dropdown > a:visited {
  position: relative;
  height: 100%;
  display:inline-block;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #96938C;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
  padding: 16px;
  padding-top: 34px;
  font-size: 24px;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.nav > li:hover {
  border: solid 1px #dfdfdf;
}

.nav > li > .dropdown > a:hover {
  text-decoration: none;
  color: #C11A03;
  /*background-color: #fff;*/
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.nav > li:nth-child(2) > .dropdown > a:hover {
  color: #FB6801;
}
.nav > li:nth-child(3) > .dropdown > a:hover {
  color: #B1C749;
}
.nav > li:nth-child(4) > .dropdown > a:hover {
  color: #10BDCB;
}

.splash {
  /*position:fixed;*/
  position: relative;
  background: url({{ site.baseurl }}/resources/img/swiss-alps-sunset5.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 540px;
}

.splash-content {
  z-index: 10;
  position: relative;
  margin-top: 40px;
}

.scala-spiral {
  position: relative;
  background: url(/*{{ site.baseurl }}/resources/img/scala-spiral-noise-sm2.png*/) no-repeat center;
}

.scala-spiral > img {
  position: relative;
  z-index: 500;
  margin-top: 68px;
}

.splash-text{
  float: left;
  width: 750px;
  margin-top: 350px;
}

 .scala-title {
  position: absolute;
  margin-top: 140px;
  right: -16px;
  text-align: right;
}

.theprogramminglanguage {
  font-family: "kulturista-web", serif;
  font-style: italic;
  color: #2C3846;
  text-shadow: 0 2px 0 #fff;
  font-size: 36pt;
  line-height: 32pt;
}

.scala {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 3px 0 #000;
  font-size: 80px;
  line-height: 36px;
}

.splash-text > h2 {
  font-family: "kulturista-web", serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -1px;
  color: #fff;
}

.splash-pitch {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  margin-bottom: 14px;
  color: #B1C749;
  text-shadow: 0 1px 0 #000;
}

.bullet-point-box {
  min-height: 400px;
  padding: 40px;
}

.code-snippet-box {
  width: 100%;
  background: url({{ site.baseurl }}/resources/img/transparent_noise.png) repeat;
  background-color: #fff;
  min-height: 400px;
}

.epfl-picture-box {
  background: url({{ site.baseurl }}/resources/img/epfl-bc.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.events-training-twitter-box {
  width: 100%;
  background: url({{ site.baseurl }}/resources/img/transparent_noise.png) repeat;
  background-color: #93AAAA;
  min-height: 400px;
}

.whitestripe {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
  background: #eee;
  background: rgba(255,255,255,0.95);
  background: -webkit-gradient(linear, 50% 0%, 50% 95, color-stop(0%, rgba(255,255,255,0.95)), color-stop(100%, rgba(255,255,255,0.85)));
  background: -webkit-linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
  background: -moz-linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
  background: -o-linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
  background: linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
  margin-bottom: 50px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border-bottom: 1px solid #fff;
  min-width: 1020px;
  height: 90px;
}

.logo {
  display: inline;
  z-index: 1400;
  position: relative;
  float: left;
}

.logo > .scala-text {
  position: relative;
  display: block-inline;
  height: 90px;
  vertical-align: middle;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 900;
  color: rgba(43, 43, 43, 1);
  font-size: 80px;
  line-height: 36px;
  margin-left: -10px;
}

.logo > .scala-text > a:link,
.logo > .scala-text > a:visited {
  color: rgba(43, 43, 43, 1);
}

.logo > .scala-text > a:hover {
  color: rgba(43, 43, 43, 1);
  text-decoration: none;
}

.graystripe {
  width: 100%;
  background-color: #363636;
  height: 15px;
}

.bluestripe {
  width: 100%;
  background-color: #10BDCB;
  height: 35px;
}

.darkbluestripe {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: rgba(15, 33, 43, 0.5);
  height: 200px;
  bottom: 0px;
}

.greenstripe {
  width: 100%;
  background-color: #97C93C;
  height: 8px;
}

.ontop {
  position: relative;
  z-index: 100;
}

.splash-overlay {
  height: 100%;
  width: 100%;
}

.color-stripe {
  position: relative;
  height: 0.5em;
  background-color: #cde35b;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #C11A03), color-stop(50%, #C11A03), color-stop(50%, #FB6801), color-stop(70%, #FB6801), color-stop(70%, #B1C749), color-stop(85%, #B1C749), color-stop(85%, #10BDCB), color-stop(100%, #10BDCB));

  background: -webkit-linear-gradient(left, #C11A03 0%,#C11A03 50%,#FB6801 50%,#FB6801 70%,#B1C749 70%,#B1C749 85%,#10BDCB 85%,#10BDCB 100%);
  background: -moz-linear-gradient(left, #C11A03 0%,#C11A03 50%,#FB6801 50%,#FB6801 70%,#B1C749 70%,#B1C749 85%,#10BDCB 85%,#10BDCB 100%);
  background: -o-linear-gradient(left, #C11A03 0%,#C11A03 50%,#FB6801 50%,#FB6801 70%,#B1C749 70%,#B1C749 85%,#10BDCB 85%,#10BDCB 100%);
  -pie-background: linear-gradient(left, #C11A03 0%,#C11A03 50%,#FB6801 50%,#FB6801 70%,#B1C749 70%,#B1C749 85%,#10BDCB 85%,#10BDCB 100%);
  background: linear-gradient(left, #C11A03 0%,#C11A03 50%,#FB6801 50%,#FB6801 70%,#B1C749 70%,#B1C749 85%,#10BDCB 85%,#10BDCB 100%);

  background-position: 50% 0;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
}


.btn {
  background-color: #CD706D;
  padding: 14px 20px 13px;
  border: 1px solid #8C4443;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .3);
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #FFF;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
  cursor: pointer;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, 0) 100%);
}

.btn.small {
  float: left;
  background-color: #00B1BF;
  border-color: #005A61 ;
  padding: 9px 20px 7px;
  border-radius: 3px;
}

.btn.small:hover, .btn.small:focus { background-color:#58ccd5; border-color:#00B1BF; color: #FFF; text-shadow: 0 -1px 1px rgba(0, 0, 0, .7); }

.bullet-point > h2,
.code-snippet > h2,
.happening > h2 {
  text-align: center;
  font-family: 'FuturaBT', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  word-spacing: .1em;
  color: #121b21;
  background: url({{ site.baseurl }}/resources/img/gray-line.png) center repeat-x;
  font-size: 10pt;
  color: #fff;
}

.bullet-point {
  text-align: center;
}

.bullet-point > h2 > span,
.code-snippet > h2 > span,
.happening > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  -moz-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -o-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  background-color: #191a1a;
  padding: 0 10px;
}

.bullet-point > h3 {
  text-align: center;
  line-height: normal;
  font-size: 17pt;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.bullet-point > p {
  text-align: center;
  font-family: "kulturista-web", serif;
  margin: 0 15px 15px;
  font-size: 13pt;
  line-height: 17pt;
  color: #96938C;
}

.carousel-caption {
  height: 100%;
  background-color: transparent;
}

.carousel-control {
  top: 50%;
  opacity: 0.2;
}

.carousel-control:hover {
  opacity: 0.4;
}

.carousel-caption > h1 {
  font-size: 20pt;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-caption p {
  line-height: normal;
  color: #7F7F7F;
  margin-bottom: 12px;
}

.lead {
  font-family: "kulturista-web", serif;
  line-height: normal;
  font-weight: normal;
}

.news-item {
  color: #2C3846;
  border-bottom: solid 2px #2C3846;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

.news-category {
  display: block;
  color: #C32C03;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: .5em;
}

.news-title {
  line-height: 1.1em;
  font-family: "kulturista-web", serif;
  font-weight: 700;
  /*font-style: italic;*/
  font-size: 28px;
  color: #2C3846;
  text-shadow: 0 1px 0 #fff;
}

.news-title > a:link,
.news-title > a:visited {
  color: #2C3846;
}

.by {
  font-family: 'kulturista-web', serif;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.news-author {
  margin-top: 8px;
}

.news-author-name {
  display: inline;
  font-family: 'kulturista-web', serif;
  color: #008e93;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 700;
}

.news-date {
  color: #fff;
  border-top: solid 1px rgba(44, 56, 70, 0.4);
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tweets { position: relative; }
.tweet { position: relative; }

.tweet .text {
  font-size: 16px;
  min-height: 20px;
  padding: 19px;
  background-color: rgba(245, 245, 245, 0.6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  color: #2C3846;
  text-shadow: 0 1px 0 #fff;
}

.tweet .text a { color: #C32C03; }
.tweet .text a:hover { color: #008E93; text-decoration: none;}
.username { position: relative; top: 0px; left: -10px; color: #fff; white-space: nowrap; line-height: 1em;}
.username a { color: #2C3846; font-weight: bold; text-decoration: none; }
.username a:hover { color: #C83D00; }
.time { display: block; position: relative; line-height: 0px; top: -14px; left: 90px; font-size: 80%; margin-bottom: 20px;}
.time a { color: #fff; white-space: nowrap; text-decoration: none; }
.triangle { position: relative; bottom: 9px; left: 40px; height: 0px; width: 1px; margin-left: auto; margin-right: auto; border-top: 16px solid rgba(0, 30, 30, 0.7); border-left: none; border-right: 16px solid transparent; border-bottom: none; }


.caret-container{position:relative}
.caret-divider{position:absolute;top:0;left:28px;width:16px;height:8px}
.caret-container .caret-divider{top:-11px}
.caret-divider .caret-outer,.caret-divider .caret-inner{position:absolute;width:0;height:0;vertical-align:text-bottom;border-style:solid}
.caret-divider .caret-outer{border-top:8px solid #ddd;border-right:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid transparent;top:0;left:0;z-index:10}
.caret-divider .caret-inner{border-top:7px solid rgba(245, 245, 245, 0);border-right:7px solid transparent;border-bottom:7px solid transparent;border-left:7px solid transparent;top:0;left:1px;z-index:11}

.thumbnail {
  padding: 0;
  border: 0;
  box-shadow: none;
}
.thumbnail > img {
  margin-left: 4px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.scala-lang-twitter {
  color: #fff;
  font-size: 32px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  /*text-transform: uppercase;*/
  margin-bottom: 12px;
  text-shadow: 0 2px 0 #000;
}

.scala-lang-twitter a:link,
.scala-lang-twitter a:visited {
  color: #fff;
}

.scala-lang-twitter a:hover {
  color: #D03F00;
  text-decoration: none;
}

.news,
.trainings-events {
  color: #fff;
  font-size: 32px;
  font-family: 'kulturista-web', serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-shadow: 0 2px 0 #000;
  line-height: 1.1em;
}

.footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.page-splash {
  position: relative;
  background: url({{ site.baseurl }}/resources/img/swiss-alps-sunset5.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 240px;
}

.page-container {
  width: 100%;
  background: url({{ site.baseurl }}/resources/img/transparent_noise.png) repeat;
  background-color: #fff;
  min-height: 400px;
}

pre.prettyprint {
  overflow: hidden;
}

/* doc blocks on the learn page */

.doc-block {
  text-align: center;
  float: left;
  /*border: 1px solid #000;*/
}

/*.doc-block > h2 > span {
  border-width: 0 34px;
  height: 32px;
  display: inline-block;
  line-height: 35px;
  -moz-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -webkit-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  -o-border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  border-image: url({{ site.baseurl }}/resources/img/diamond.png) 0 34 repeat;
  background-color: #191a1a;
  padding: 0 10px;
}
*/

.doc-block > h3 {
  text-align: center;
  line-height: normal;
  font-size: 17pt;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  /*color: #fff;*/
}

.doc-block > p {
  /*text-align: center;*/
  /*font-family: "kulturista-web", serif;*/
  margin: 0 15px 15px;
  font-size: 13pt;
  line-height: 17pt;
  /*color: #96938C;*/
}

div.download-wrapper {
  width: 400px;
  text-align: center;
}

div.download {
  margin-top: 10px;
  margin-bottom: 10px;
}

a.btn.download {
  background-color: #00B1BF;
  border-color: #005A61 ;
  padding: 9px 20px 7px;
  border-radius: 3px;
}

a.btn.download:hover, a.btn.download:focus { background-color:#58ccd5; border-color:#00B1BF; color: #FFF; text-shadow: 0 -1px 1px rgba(0, 0, 0, .7); }


>>>>>>> Stashed changes
/*.training-item {

}

.training-description {

}

.training-location {

}

.training-date {

}

.training-trainers {

}

.training-organizer {

}
---
istraining: true
title: Test training
description: This a cool test training
link-out: http://www.epfl.ch/
where: Lausanne, Switzerland
when: 23 March 2013
trainers: Sébastien Doeraene
organizer: EPFL
status: unknown
---
 '<div class="training-item">' +
          '<div class="training-title"><a href="'+training.url+'">'+training.title+'</a></div>' +
          '<div class="training-description">'+training.description+'</div>' +
          '<div class="training-location">'+training.where+'</div>' +
          '<div class="training-date"><img src="{{ site.baseurl }}/resources/img/icon-date.png" /> '+training.when+'</div>' +
          '<div class="training-trainers"><span class="by">By</span> <div class="training-trainers-name">'+training.trainers+'</div></div>' +
          '<div class="training-organizer">'+training.organizer+'</div>' +
        '</div>';

        '<div class="event-item">' +
          '<div class="event-title"><a href="'+event.url+'">'+event.title+'</a></div>' +
          '<div class="event-logo"><img class="event-logo" src="'+event.logo+'" alt="Logo" /></div>' +
          '<div class="event-location">'+event.location+'</div>' +
          '<div class="event-date"><img src="{{ site.baseurl }}/resources/img/icon-date.png" /> '+
            event.start + (event.end ? ' to '+event.end : '') + '</div>' +
        '</div>';



*/
