
.prettyprint { background-color: #073642; }
.prettyprint code { color: #839496;  overflow: auto; }
.prettyprint .pln { color: inherit; }
.prettyprint .str, .prettyprint .atv { color: #2aa198; }
.prettyprint .lit { color: #D33682;}
.prettyprint .kwd { color: #859900; }
.prettyprint .com,
.prettyprint .dec { color: #586e75; font-style: italic; }
.prettyprint .typ { color: #268BD2; }
.prettyprint .pun { color: inherit; }
.prettyprint .opn { color: inherit; }
.prettyprint .clo { color: inherit; }
.prettyprint .tag { color: #268bd2; font-weight: bold; }
.prettyprint .atn { color: inherit; }

pre.prettyprint {
  overflow-x: auto;
  padding: 9px;
  border: 1px solid #073642;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  border-top: 0px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin: 0 0 0 40px; } /* IE indents via margin-left */
ol.linenums > li { color: rgba(67, 94, 101, 0.6); line-height: 20px; width: 100%; s}
