// VENDORS
//------------------------------------------------
@import 'vendors/bourbon/bourbon';
@import 'vendors/neat/neat';
@import 'vendors/unslider/unslider';

// UTILS
//------------------------------------------------
@import 'utils/variables';
@import 'utils/mixins';

// BASE
//------------------------------------------------
@import 'base/body';
@import 'base/form';
@import 'base/helper';
@import 'base/lists';
@import 'base/media';
@import 'base/typography';

// LAYOUT
//------------------------------------------------
@import 'layout/header';
@import 'layout/inner-text';
@import 'layout/scala-main-resources';
@import 'layout/main';
@import 'layout/navigation';
@import 'layout/twitter-feed';
@import 'layout/ides';
@import 'layout/nutshell';
@import 'layout/courses';
@import 'layout/upcoming-events';
@import 'layout/scala-ecosystem';
@import 'layout/new-blog';
@import 'layout/talk-to-us';
@import 'layout/footer';

// COMPONENTS
//------------------------------------------------
//------------------------------------------------
@import 'components/buttons';
@import 'components/call-to-action';
@import 'components/slider';
@import 'components/heading-line';
@import 'components/card';
@import 'components/calendar';
