// MAIN
//------------------------------------------------
//------------------------------------------------

#site-main {
  section {
    padding: $padding-xlarge 0;
    h2 {
      margin-bottom:$padding-large;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
