// TWITTER FEED
//------------------------------------------------
//------------------------------------------------

.twitter-feed {
    background: $brand-tertiary;

    h2 {
        color: #fff;

        span {
            background: $brand-tertiary;
        }

        &:before {
            background: rgba(#fff, 0.5);
        }
    }

    .slider-twitter {
        ul {
            li {
                padding: 0 15px;

                .item-tweet {
                    padding: $padding-small;
                    background: #fff;
                    border-radius: $border-radius-base;
                    @include span-columns(4);
                    @include bp(large) {
                         @include span-columns(12);
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    img {
                        border-radius: $border-radius-base;
                        width: 44px;
                        height: auto;
                        float: left;
                    }

                    .tweet-text {
                        margin-left: 64px;

                        .header-tweet {
                            ul {
                                @include display(flex);
                                @include align-items(center);
                                flex-wrap: wrap;

                                li {
                                    padding: 0;
                                    margin-right: 6px;

                                    &.user {
                                        font-size: $font-size-large;
                                        font-weight: $font-bold;
                                        color: $headings-font-color;

                                        a {
                                            color: $headings-font-color;

                                            &:active,
                                            &:focus,
                                            &:hover {
                                                color: $hover-link-color;
                                                text-decoration: none;
                                            }
                                        }
                                    }

                                    &.date,
                                    &.username {
                                        font-size: $font-size-medium;
                                        color: $base-font-color-light;
                                        font-weight: $font-semibold;
                                    }

                                    &.date {
                                        font-weight: $font-regular;
                                    }
                                }
                            }
                        }

                        .main-tweet {
                            p {
                                font-size: $font-size-medium;

                                .hastag {
                                    color: rgba($base-font-color-light, 0.7);

                                    &:active,
                                    &:focus,
                                    &:hover {
                                        color: $base-font-color-light;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .call-to-action {
        p {
            color: #fff;
        }
    }
}
