// BUTTONS
//------------------------------------------------
//------------------------------------------------
.button {
    padding: 8px 18px;
    font-size: $font-size-large;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: #fff;
    background: $brand-secondary;
    border-radius: $border-radius-bold;
    display: inline-block;

    box-shadow: 0 4px 7px 0  rgba(0, 0, 0, 0.2);


    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
      color: #fff;
      background: $brand-primary;
    }

}
