---
layout: default
---

<div class="main-page-column">
  <span class="article-date">{{ page.date | date: "%B %-d, %Y" }}</span>
  {% if page.by %}
  <span class="written">: <span class="by">{{ page.by }}</span></span>
  {% endif %}
  <span style= "float:right;">
    <a href="/blog">Blog</a>,
    <a href="/news#news--blog">News &amp Blog</a>
  </span>
  
  {{ content }}

  <hr>

  <span style= "float:right;">
    <a href="/blog">Blog</a>,
    <a href="/news#news--blog">News &amp Blog</a>
  </span>

  {% if page.disqus == true %}{% include disqus.txt %}{% endif %}
</div>
<div class="sidebar">
  <div class="sidebar-inner">
    <div id="toc"></div>
  </div>
</div>
<div style="clear:both"></div>
