{% include headertop.html %}
{% include headerbottom.html %}

<div class="navigation-fade-screen"></div>

{% include navbar-inner.html %}

<main id="inner-main" class="download-page select-language">

<!-- Title -->
<section class="title-page">
	<div class="wrap">
		<h1>{{page.title}}</h1>
	</div>
</section>

{% comment %}Specific content from child layouts{% endcomment %}

<section class="books">
  <div class="wrap">
    <div class="inner-box download">
      <div class="main-download">
        <h2>Install or Upgrade Scala</h2>
        <div class="install-steps">
          <div class="download-options">
            <div class="download-left">
              <span class="or">or</span>
              <div class="description">
                <img src="/resources/img/download/arrow-left.png" alt="">
                <p>Recommended method for all Scala users.</p>
              </div>
              <a href="https://docs.scala-lang.org/getting-started.html" class="btn-download scala3">
                <i class="fa fa-download"></i>
                <span>Get Started with Scala</span>
              </a>
              <ul>
                {% for tutorial in page.newcomertutorials %}
                  <li><a href="{{tutorial.url}}"><i class="fa fa-file-text-o"></i>{{tutorial.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="download-right">
              <div class="description">
                <img src="/resources/img/download/arrow-right.png" alt="">
                <p>Best if you have an advanced use case.</p>
              </div>
              <a href="{{ site.baseurl }}/download/all.html" class="btn-download dl-find-all">
                <i class="fa fa-list-ul"></i>
                <span>Pick a Specific Release</span>
              </a>
              <ul>
                {% for tutorial in page.advancedtutorials %}
                  <li><a href="{{tutorial.url}}"><i class="fa fa-file-text-o"></i>{{tutorial.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>


				<h3>What's new in Scala 3?</h3>
				<p>
					For a summary of important changes in Scala 3, see <a href="https://docs.scala-lang.org/scala3/new-in-scala3.html">this page</a>.
				</p>
      </div>
    </div>
  </div>
</section>

</main>

{% include footer.html %}
