---
layout: inner-page-parent
---

<section class="books">
  <div class="wrap">
    <div class="inner-box download">
      <div class="content-ribbon">
        <div class="ribbon-version">
          <span>{{page.release_version}}</span>
        </div>
        <ul>
          <li><a href="https://github.com/scala/scala/releases">Release Notes</a></li>
          <li class="dot">•</li>
          <li><a href="{{ site.baseurl }}/blog/announcements/">Changelog</a></li>
        </ul>
      </div>
      <div class="main-download">
        <h2>The easiest way to install Scala is through coursier.</h2>
        <div class="install-steps">
          <div class="step">
            <img src="/resources/img/download/arrow-asset.png" alt="">
            <div class="number-step">1</div>
            <div class="text-step">
              <h3>First, install Java, Scala, and all related command-line tools.</h3>
              <div id="download-step-one">
              <p>Download <a href="https://get-coursier.io/docs/cli-overview.html#install-native-launcher">the native launcher of coursier</a> then install everything with:</p>
              <p><code>$ ./cs setup</code><span> (Adapt to your operating system)</span></p>
              </div>
              <p>(See <a href="https://get-coursier.io/docs/cli-overview.html#install-native-launcher">the instructions for other operating systems</a>.)
            </div>
          </div>
          <div class="step">
            <div class="number-step">2</div>
            <div class="text-step">
              <h3>Then, install an IDE, or get started with sbt</h3>
            </div>
          </div>
          <div class="download-options">
            <div class="download-intellij">
              <span class="or">or</span>
              <div class="description">
                <img src="/resources/img/download/arrow-left.png" alt="">
                <p>Best if you prefer a full-featured IDE (recommended for beginners)</p>
              </div>
              <a href="https://www.jetbrains.com/idea/download/" class="btn-download">
                <i class="fa fa-download"></i>
                <span>Download IntelliJ</span>
              </a>
              <ul>
                <li><a href="/documentation/getting-started-intellij-track/getting-started-with-scala-in-intellij.html"><i class="fa fa-file-text-o"></i>Getting Started with Scala in IntelliJ</a></li>
                <li><a href="/documentation/getting-started-intellij-track/building-a-scala-project-with-intellij-and-sbt.html"><i class="fa fa-file-text-o"></i>Building a Scala Project with IntelliJ and sbt</a></li>
                <li><a href="/documentation/getting-started-intellij-track/testing-scala-in-intellij-with-scalatest.html"><i class="fa fa-file-text-o"></i>Testing Scala in IntelliJ with ScalaTest</a></li>
              </ul>
            </div>
            <div class="download-sbt">
              <div class="description">
                <img src="/resources/img/download/arrow-right.png" alt="">
                <p>Best if you are familiar with the command line</p>
              </div>
              <a href="/documentation/getting-started-sbt-track/getting-started-with-scala-and-sbt-on-the-command-line.html" class="btn-download" id="download-sbt-link">
                <i class="fa fa-download"></i>
                <span>Get started with sbt</span>
              </a>
              <ul>
                <li><a href="/documentation/getting-started-sbt-track/getting-started-with-scala-and-sbt-on-the-command-line.html"><i class="fa fa-file-text-o"></i>Getting Started with Scala and sbt on the Command Line</a></li>
                <li><a href="/documentation/getting-started-sbt-track/testing-scala-with-sbt-on-the-command-line.html"><i class="fa fa-file-text-o"></i>Testing Scala with sbt and ScalaTest on the Command Line</a></li>
              </ul>
            </div>
          </div>

          <p class="bottom-lead">
            Compared to other programming languages, installing Scala is a bit unusual.
            In addition to the system-wide installation mentioned above, build tools such as sbt will automatically manage a specific Scala version per Scala project you create.
            This makes sure that there are no version conflicts between different Scala projects on your computer.
          </p>

          <!-- <p class="bottom-lead"><h2>Other</h2></p> -->

          <div class="step other-ways-lead">
            <div class="number-step"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
            <div class="text-step">
              <h2>Other ways to install Scala</h2>
              <ul>
                <li>
                  <a id="download-binaries">Download the Scala binaries for <span id="users-os"></span></a>
                  <br/><span class="install"><a href="{{ site.baseurl }}/download/install.html">Need help running the binaries?</a></span>
                </li>
                <li>Using <a href="https://sdkman.io/">SDKMAN!</a>, you can easily <a href="https://sdkman.io/sdks#scala">install Scala</a> with <code>sdk install scala</code></li>
                <li>On macOS you can also use <a href="https://brew.sh/">Homebrew</a> and existing <a href="https://formulae.brew.sh/formula/scala">Scala Formulae</a><br/><code>brew update</code><br/><code>brew install scala</code></li>
                <li>With <a href="https://www.macports.org/">MacPorts</a>, you can get Scala using <code>sudo port install scala2.x</code>command.<br/> For example to install Scala 2.12 simply use<code>sudo port install scala2.12</code></li>
                <li>Use <a href="https://scastie.scala-lang.org">Scastie</a> to run single-file Scala programs in your browser using multiple Scala compilers; the production Scala 2.x compilers, Scala.js, Dotty, and Typelevel Scala. Save and share executable Scala code snippets.</li>
                <li>Try Scala in the browser via <a href="https://scalafiddle.io/">ScalaFiddle</a>. This lets you run single-file Scala programs in your browser using Scala.js, including graphical/interactive examples such as <a href="https://scalafiddle.io/sf/KOsXSKv/0">Oscilloscope</a> or <a href="https://scalafiddle.io/sf/4beVrVc/1">Ray Tracer</a></li>
                <li><a href="http://ammonite.io/">Get Ammonite</a>, a popular Scala REPL</li>
              </ul>
              <p>Or are you looking for <a href="{{ site.baseurl }}/download/all.html">previous releases</a> of Scala?</p>
            </div>
          </div>


          <h3>Release Notes</h3>
          For a summary of important changes, see the <a href="https://github.com/scala/scala/releases">GitHub release notes</a>.
          <br/><small>(Or consult our archive of <a href="{{ site.baseurl }}/blog/announcements/">older release notes</a>.)</small>

          {% include download-resource-list.html %}
          <h3>License</h3>
          <p>The Scala distribution is released under the {{page.license}}.</p>
        </div>

      </div>
    </div>
  </div>

  <!-- Hidden elements whose content are used to provide OS-specific download instructions.
    -- This is handled in `resources/js/functions.js`.
    -->

  <div style="display:none" id="stepOne-linux">
    <p><code>$ curl -Lo cs https://git.io/coursier-cli-linux && chmod +x cs && ./cs setup</code></p>
  </div>
  <div style="display:none" id="stepOne-unix">
    <p>Follow <a href="https://get-coursier.io/docs/cli-overview.html#install-native-launcher" target="_blank">the instructions to install the <code>cs</code> launcher</a> then run:</p>
    <p><code>$ ./cs setup</code></p>
  </div>
  <div style="display:none" id="stepOne-macos">
    <p><code>$ curl -Lo cs https://git.io/coursier-cli-macos && chmod +x cs && (xattr -d com.apple.quarantine cs || true) && ./cs setup</code></p>
    <p><span>Alternatively you can use Homebrew: </span><code>$ brew install coursier/formulas/coursier && cs setup</code></p>
  </div>
  <div style="display:none" id="stepOne-windows">
    <p>Download and execute <a href="https://git.io/coursier-cli-windows-exe">the Scala installer for Windows</a> based on coursier</p>
  </div>
</section>
