---
layout: page
---

<div class="h3-style" style="margin-top: 0px;">Choose one of three ways to get started with Scala!</div>

<div class="bigcircle-wrapper">
  <div class="bigcircle" style="float: left;">1</div>
  <div class="bigcircle-content" style="float: left;">
    <p class="center">
      Download Scala {{ page.release_version }} binaries for your system
      (<a href="./all.html">All downloads</a>).
    </p>

    <div class="download-wrapper">
      <a id="download-button" style="margin-top: 12px;">
        <span class="slider">Download</span>
        <span class="icon"></span>
        <span class="version{% if page.release_version.size > 7 %}-long{% endif %}">Scala {{ page.release_version }}</span>
      </a>
    </div>
    <p class="install"><a href="{{ site.baseurl }}/download/install.html">Need help installing?</a></p>
  </div>
</div>

<div class="h3-style" style="color: #073642;"><i><span class="tilde">~</span> or <span class="tilde">~</span></i></div>

<div class="bigcircle-wrapper">
  <div class="bigcircle" style="float: right;">2</div>
  <div class="bigcircle-content" style="float: right; margin-top: 32px;">
    <p class="center" style="text-align: right;">
      <a href="http://typesafe.com/activator"><b>Get started with Typesafe Activator</b></a>
      <br/>
      Typesafe Activator is a browser-based or command-line<br/>
      tool that helps developers get started with Scala.
      <div class="download-wrapper">
        <a id="download-button" class="activator" style="margin-top: 12px; margin-right: 24px; width: 200px;" href="http://typesafe.com/activator">
          <span class="slider">Download</span>
          <span class="activator icon"></span>
          <span class="version-long">&nbsp;Typesafe Activator</span>
        </a>
      </div>
    </p>
  </div>
</div>

<div class="h3-style" style="color: #073642;"><i><span class="tilde">~</span> or <span class="tilde">~</span></i></div>

<div class="bigcircle-wrapper">
  <div class="bigcircle" style="float: left;">3</div>
  <div class="bigcircle-content" style="float: left; margin-top: 34px;">
    <p class="center" style="text-align: left;">
      <a href="http://scala-ide.org/"><b>Install one of the Scala IDEs</b></a>
      <br/>
      <a href="http://scala-ide.org/">The Scala IDE</a> (based on Eclipse), <a href="http://www.jetbrains.com/idea/">IntelliJ IDEA with the Scala plugin</a>,</br>
      or <a href="http://netbeans.org/">NetBeans IDE with the Scala plugin</a>.
    </p>
  </div>
</div>

<h3>Software Requirements</h3>

{{ page.requirements }}

{% if page.show_resources == "true" %}

<div>

<h3>Other resources</h3>

{% else %}

<div hidden>

<h3 hidden>Other resources</h3>

{% endif %}

<div>
You can find the installer download links for other operating systems, as well as documentation and source code archives for Scala {{ page.release_version }} below.
</div>

<br/>

<table class="table">

<thead><tr>
  <th>Archive</th>
  <th>System</th>
  {% unless page.dont_show_sizes %}
  <th>Size</th>
  {% endunless %}
</tr></thead>

<tbody>
{% for resource in page.resources %}
<tr>
  <td>
    <a id="#link{{ resource[0] }}" href="{{ resource[2] }}">
      {{ resource[1] }}
    </a>
  </td>
  <td>{{ resource[3] }}</td>
  {% unless page.dont_show_sizes %}
  <td>{{ resource[4] }}</td>
  {% endunless %}
</tr>
{% endfor %}
</tbody>

</table>

</div>

{{ content }}

<div id="getting-started-popup">
  <div class="popup">
    <p class="header">Your download will begin shortly</p>
    <p>You can now jump to the next steps:</p>
    <ul>
      <li><a href="#">Read the getting started guide</a></li>
      <li><a href="#">Read the full documentation</a></li>
      <li><a href="#">Configure your IDE</a></li>
    </ul>
  </div>
</div>

