---
layout: inner-page-parent
---

{% capture now %}{{site.time | date: '%s' | plus: 0}}{% endcapture %}
{% assign upcomingEvents = '' | split: ',' %}
{% for event in paginator.events %}
	{% capture date %}{{event.end|date: '%s'|plus: 86400}}{% endcapture %}
	{% if now <= date %}
		{% assign upcomingEvents = upcomingEvents | push: event %}
	{% endif %}
{% endfor %}

{% include events-training-list-top.html collection=upcomingEvents %}

  	{{content}}
	</div>

	{% include paginator.html urlPath="events" %}
</div>
