---
---

{% include headertop.html %}
{% include headerbottom.html %}

<div class="splash">
  <div class="darkblue-overlay">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="scala-logo">
          <img src="{{ site.baseurl }}/resources/img/scala-logo-white.png" alt="Scala Logo" />
        </div>
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="splash-text ontop">
          <h2 style="font-weight: 700;">Object-Oriented Meets Functional</h2>
          <p class="splash-pitch">
            Have the best of both worlds. Construct elegant class hierarchies
            for maximum code reuse and extensibility, implement their behavior using
            higher-order functions. Or anything in-between.
          </p>
          <a class="learn-more-btn" href="{{ site.baseurl }}/what-is-scala.html">Learn More</a>
          <div class="marker">
            <div class="dot"></div>
            <div class="pulse"></div>
          </div>
          <p>&nbsp;</p>
          <div class="tip">
            Scala began life in 2003, created by Martin Odersky and his research group at EPFL, next to Lake Geneva and the Alps, in Lausanne, Switzerland. Scala has since grown into a mature open source programming language, used by hundreds of thousands of developers, and is developed and maintained by scores of people all over the world.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container central">
  <div class="translucent-circle"></div>
  <div class="opaque-circle"></div>
  <a class="central-btn download" id="main-download-button" href="{{ site.baseurl }}/download/">Download</a>
  <a class="central-btn api" href="http://www.scala-lang.org/api/">API Docs&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <div class="big-scala-spiral"><img src="{{ site.baseurl }}/resources/img/smooth-spiral.png" alt="Spiral" /></div>
  <div class="central-btn scala-version"><span class="superbold">Scala</span><br/>{{ site.scalaversion }}</div>
</div>

<div class="darkbluebar">
  <div class="container" style="position: relative;">
    <div class="left-side">
      <p class="getting-started"><a href="{{ site.baseurl }}/documentation/getting-started.html"><b>Getting Started</b></a></p>
      <p class="dev-releases"><img src="{{ site.baseurl }}/resources/img/gears.png" alt="gears icon" /><a href="{{ site.baseurl }}/download/">&nbsp;Milestones, nightlies, etc.</a></p>
      <p class="all-releases"><img src="{{ site.baseurl }}/resources/img/list.png" alt="list icon" /><a href="{{ site.baseurl }}/download/all.html">&nbsp;All Previous Releases</a></p>
    </div>
    <div class="right-side">
      <p class="getting-started"><a href="http://www.scala-lang.org/api/current/"><b>Current API Docs</b></a></p>
      <p class="dev-releases"><img src="{{ site.baseurl }}/resources/img/list.png" alt="list icon" /><a href="{{ site.baseurl }}/documentation/api.html">&nbsp;API Docs (other versions)</a></p>
      <p class="dev-releases"><img src="{{ site.baseurl }}/resources/img/books.png" alt="books icon" /><a href="{{ site.baseurl }}/documentation/">&nbsp;Scala Documentation</a></p>
      <p class="all-releases"><img src="{{ site.baseurl }}/resources/img/books.png" alt="books icon" /><a href="{{ site.baseurl }}/files/archive/spec/2.12/">&nbsp;Language Specification</a></p>
    </div>
  </div>
</div>

 <div class="bullet-point-box">

  <div class="bullet-row-1-wrap">
    <div class="container">
      <div class="row">
        <div class="span12 bullet-point">
          <h2><span>Scala in a Nutshell</span></h2>
          <p class="click">&nbsp;click the boxes below to see Scala in action!&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="span4 bullet-point" id="java-interop">
          <h3>Seamless Java Interop</h3>
          <p>Scala runs on the JVM, so Java and Scala stacks can be freely mixed for totally seamless integration.</p>
        </div>
        <div class="span4 bullet-point" id="type-inference">
          <h3>Type Inference</h3>
          <p>So the type system doesn’t feel so static. Don’t work for the type system. Let the type system work for you!</p>
        </div>
        <div class="span4 bullet-point" id="concurrency-distribution">
          <h3>Concurrency<br>& Distribution</h3>
          <p>Use data-parallel operations on collections, use actors for concurrency and distribution, or futures for asynchronous programming.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row1">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="bullet-row-2-wrap">
    <div class="container">
      <div class="row">
        <div class="span4 bullet-point" id="traits">
          <h3>Traits</h3>
          <p>Combine the flexibility of Java-style interfaces with the power of classes. Think principled multiple-inheritance.</p>
        </div>
        <div class="span4 bullet-point" id="pattern-matching">
          <h3>Pattern Matching</h3>
          <p>Think “switch” on steroids. Match against class hierarchies, sequences, and more.</p>
        </div>
        <div class="span4 bullet-point" id="higher-order-functions">
          <h3>Higher-Order Functions</h3>
          <p>Functions are first-class objects. Compose them with guaranteed type safety. Use them anywhere, pass them to anything.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row2">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="where-to-learn-more">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a class="learn-more-btn" href="{{ site.baseurl }}/what-is-scala.html">Learn More</a>
          <p>or visit the <a class="italicize" href="{{ site.baseurl }}/documentation">Scala Documentation</a></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- hidden code-snippet content -->
<div id="hidden-java-interop">{% include bullet-java-interop.html %}</div>
<div id="hidden-type-inference">{% include bullet-type-inference.html %}</div>
<div id="hidden-concurrency-distribution">{% include bullet-concurrency-distribution.html %}</div>
<div id="hidden-traits">{% include bullet-traits.html %}</div>
<div id="hidden-pattern-matching">{% include bullet-pattern-matching.html %}</div>
<div id="hidden-higher-order-functions">{% include bullet-higher-order-functions.html %}</div>

<div class="events">
  <div class="container">
    <div class="row">
      <div class="span12 upcoming-events">
        <h2><span>Upcoming Events</span></h2>
      </div>

      <div class="span12" id="eventspane">
      </div>
    </div>
  </div>

   <div class="add-event"><a href="{{ site.baseurl }}/events">See more events</a> or <a href="https://github.com/scala/scala-lang/tree/master/events">add one to our feed</a></div>

</div>

<div class="training">
  <div class="container">
    <div class="row">
      <div class="span12 upcoming-training">
        <h2><span>Upcoming Training</span></h2>
      </div>
      <div class="span12" id="trainingspane">
        <div class="add-training"><a href="{{ site.baseurl }}/training">See more trainings</a> or <a href="https://github.com/scala/scala-lang/tree/master/training">add one to our feed</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="news">
  <div class="container">
    <div class="row">
      <div class="span12">
      </div>
    </div>
    <div class="row">
      {% include news-feed.html %}
    </div>
  </div>
</div>

<div class="twitter">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="twitterhdr"><span>Scala on Twitter</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="tweets" class="tweets"></div>
        <br/>&nbsp;
        <div class="see-more-tweets">See more tweets, or</div>
        <a id="twitter-btn" href="https://twitter.com/scala_lang">Follow Scala on Twitter</a>
        <br/><a style="border-bottom: 0px;" href="https://twitter.com/scala_lang"><img style="padding-top: 8px;" src="{{ site.baseurl }}/resources/img/twitter-logo-white-lg.png" alt="white Twitter logo"/></a>
      </div>
    </div>
  </div>
</div>

<div class="epfl-picture-box">
  <div class="container">
  </div>
</div>

{% include footer.html %}

<script>
$('#tweets').tweetMachine('', { 
    backendScript: '/resources/php/getFromTwitter.php',
    endpoint: 'statuses/user_timeline',
    user_name: 'scala_lang',
    include_retweets: true,
    exclude_replies: false,
    limit: 5,
    autoRefresh: false,
    tweetFormat: `<div class="tweet-container">
          <div class="tweet">
            <p class="text content"></p>
          </div>
          <div class="caret-container">
            <div class="caret-divider">
              <div class="caret-outer"></div>
              <div class="caret-inner"></div>
            </div>
          </div>
          <div class="raw bootom-anchored">
            <div class="span1">
              <div class="thumbnail">
                <img class="avatar" width="70" height="70" src="" />
              </div>
            </div>
            <div class="span2 lh1em">
              <span class="tweet-username">
                <a href="" class="username" rel="external"></a>
              </span>
            </div>
          </div>
        </div>
      `
});
</script>