---
layout: downloadpage
---


<h3>Additional information</h3>

New Scala users might want to read the <a href="{{ site.baseurl }}/documentation/getting-started.html">Getting Started</a> guide.

You can find the links to prior versions or the latest development version below.
To see a detailed list of changes for each version of Scala please refer to the <a href="{{ site.baseurl }}/download/changelog.html">changelog</a>.
Note that the different major releases of Scala (e.g. Scala 2.9.3 and Scala 2.10.1) are not binary compatible.

<table>

  {% for release in page.other_releases %}

  <tr>
    <td><a href="/download/{{ release[2] }}.html" class="btn small" style="width: 400px;">{{ release[1] }} - Scala {{ release[2] }}</a></td>
  </tr>

  {% endfor %}

</table>
<table><tbody>
  <tr>
    <td><a href="changelog.html" class="btn small" style="width: 100px;">Changelog</a></td>
    <td><a href="all.html" class="btn small" style="width: 256px;">All previous Scala Releases</a></td>
  </tr>
</tbody></table>

<br/>

The Scala distribution is released under a <a href="{{ site.baseurl }}/download/license.html">BSD-like license</a>.


{{ content }}
