---
layout: default
toc: true
---

{% include headertop.html %}
{% include headerbottom.html %}

<div class="darkstrip"></div>

<div class="darkbluetopbar">
  <div class="container" style="height: 100%">
    <div class="navbar-wrap">
      <div class="container" style="position: relative; height: 100%;">
        <div class="scala-logo">
          <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/resources/img/scala-logo-white-sm.png"/></a>
        </div>
        {% include navbar.html %}
      </div>
    </div>
  </div>
</div>

<div class="midbluebar">
  <div class="container">
    <h1 id="page-title">{{ page.title }}</h1>
  </div>
</div>

<div class="page-container">
  <div class="container" style="min-height: 540px;">
    <div class="row">
      <div class="span12">
          <div class="main-page-column" style="width: 100%;">
            {% if page.by %}
              <div class="written">Written By: <span class="by">{{ page.by }}</span></div>
            {% endif %}
            {{ content }}
          </div>
      </div>
    </div>
  </div>
</div>

<div class="lift-footer">
  {% include footer.html %}
</div>
