---
layout: default
---

<div class="main-page-column">
  {% if page.by %}
    <div class="written">Written By: <span class="by">{{ page.by }}</span></div>
  {% endif %}
  {{ content }}
</div>
<div class="sidebar">
  <div class="sidebar-inner">
    <div class="contents">Contents</div>
    <div id="toc"></div>
    <br/>
    <div class="alert-info">
      <a href="/contribute/documentation.html#updating-scala-langorg"><p><strong>Problem with this page?</strong>
      Please help us fix it!</p></a>
    </div>
  </div>
</div>
<div style="clear:both"></div>
