---
layout: inner-page-parent
---

{% capture now %}{{site.time | date: '%s' | plus: 0}}{% endcapture %}
{% assign upcomingTrainings = '' | split: ',' %}
{% for training in paginator.trainings %}
	{% capture date %}{{training.when|date: '%s'|plus: 86400}}{% endcapture %}
	{% if now <= date %}
		{% assign upcomingTrainings = upcomingTrainings | push: training %}
	{% endif %}
{% endfor %}

{% include events-training-list-top.html collection=upcomingTrainings %}
	</div>

	{% include paginator.html urlPath="training" %}		
</div>
