// INNER TEXT
//------------------------------------------------
//------------------------------------------------

.hero-logo {
    background-image: url('/resources/img/frontpage/scala-logo-white-hero@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-bottom: 15px;
}


.col-lg-6 {
    .inner-text {

        .button-row__container {
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(flex-start);

            @include bp(large) {
                @include justify-content(center);
            }
        }

        h1 {
            margin-bottom: 20px;
            font-size: 5.2rem;
        }

        h2 {
            font-family: $base-font-family;
            font-size: min(max(1.6vw, 1.2rem), 1.31rem);
            line-height: min(max(1.5vw, 2rem), 2.15rem);
            color: #fff;
            margin-bottom: $padding-medium;
        }

        p {
            margin-top: 10px;
        }

        @include bp(large) {
            .button {
                margin-bottom: 3px;
            }

            h2 {
                font-size: 1.4rem;
                text-align: center;
            }

            p {
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}
