// INNER TEXT
//------------------------------------------------
//------------------------------------------------

.col-lg-6 {
    @include span-columns(6);

    @include bp(large) {
        @include span-columns(12);
        padding-bottom: 8px;
    }
}

.inner-text {
    h1 {
        font-family: $base-font-family;
        font-size: min(2.85vw, 2.21rem);
        font-weight: $font-black;
        color: #fff;
        margin: $padding-small 20px $padding-small 0;
    }

    p {
        font-size: 1.25rem;
        color: #fff;
        margin-bottom: $padding-medium;
    }

    @include bp(large) {
        .button {
            margin-bottom: 3px;
        }

        h1 {
            font-size: 2.5rem;
            margin: ($padding-medium / 2) 0;
        }
    }
}
