.moderation {
    @include clearfix;
    padding-bottom: $padding-small;
    .heading-box {
        margin-bottom: $padding-medium;
        text-align: center;
        h3 {
            color: $gray-dark;
            font-size: 1.25rem;
            font-weight: $font-regular;
            padding-bottom: 8px;
        }
    }

    .description {
        margin-bottom: $padding-medium;
        text-align: center;
    }

    .links-list {
        @include clearfix;

        .links-item {
            text-align: center;
            // @include span-columns(4);
            // @include omega(3n);
            @include bp(large) {
                 @include span-columns(12);
            }
        }
    }

}
