// NUTSHELL
//------------------------------------------------
//------------------------------------------------

.nutshell {
    background: $gray-nutshell;

    .heading-line {
        h2 {
            span {
                background: $gray-nutshell;
            }
        }
        .call-to-action.action-medium {
            margin-top: 0px;
        }
    }

    .scala-items-list {
        .items-menu {
            .scala-item-row {
                @include display(flex);
                @include flex-direction(row);
                @include bp(large) {
                    @include flex-direction(column); // switch to single column
                }
            }
            .scala-item {
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(space-between);
                @include align-items(center);

                // width
                width: 33.33%;
                @include bp(large) {
                    width: 100%;
                }

                // max 3 items per row
                @include omega(3n);

                padding: $padding-small;
                text-align: center;
                transition: $base-transition;

                .button {
                    margin-top: 10px;
                    font-size: 0.6rem;
                    padding: 5px;
                }

                .button.button_expand-info {
                    font-size: $font-size-small;
                    padding: 5px 15px;
                    margin-top: $font-size-large;
                }

                h3 {
                    color: #fff;
                    font-size: $font-size-h3;
                    text-transform: uppercase;
                    font-family: $base-font-family;
                    margin-bottom: 10px;
                }

                p {
                    color: $base-font-color-inverse;
                    font-size: $font-size-large;
                }


                &.hoverable:active,
                &.hoverable:focus,
                &.hoverable:hover {
                    cursor: pointer;
                    background: $gray-dark;
                }

                &.active {
                    background: $gray-dark;
                }
            }

            .items-content {
                background: $gray-dark;
                transition: $base-transition;

                .items-code {
                    display: none;
                    background: $gray-dark;
                    padding: 65px 0;

                    .scala-code {

                      @include span-columns(6);
                      @include bp(large) {
                        @include span-columns(12);
                      }
                    }

                    .scala-text {
                        code {
                            background: $gray-darker;
                            padding: 2px 8px;
                            color: #859900;
                            border-radius: 2px;
                            margin: 0 3px;
                        }
                        @include span-columns(6);
                        @include bp(large) {
                          @include span-columns(12);
                        }

                        h3 {
                            font-size: 1.625rem;
                            color: #fff;
                            margin-bottom: 20px;
                        }

                        p {
                            color: $base-font-color-inverse;
                        }

                        &.scala-text-large {
                          @include span-columns(12);
                          margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }

    .scala-item-expanded {
        display: none;
        height: 400px;
        background: $gray-dark;
    }
}
