// RUNS
//------------------------------------------------
//------------------------------------------------

#site-main {
    .runs {
        padding-bottom: 20px;
        background: $gray;

        h2 {
            color: $base-font-color-inverse;
            font-family: $base-font-family;
            text-align: center;
            font-size: $font-size-large;
        }

        ul {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            margin-top: 20px;
            li:nth-child(2),
            li:nth-child(4) {
              height: 100px;
              width: 1px;
             background: $base-border-color-white;
              margin-left: 36px;
              margin-right: 36px;
            }
            li:nth-child(1),
            li:nth-child(3),
            li:nth-child(5) {

                @include border-radius(100%);
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);



                span {

                    @include border-radius(100%);
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(center);

                    img {
                        height: 56px;
                        width: 56px;
                        opacity: 0.3;
                        transition: $base-transition;
                    }
                }
                .beta {
                  background-color: white;
                  border-radius: 0 !important;
                  padding: 0.1em 0.3em;
                  font-style: italic;
                  color: #15414C;
                  font-size: 0.8em;
                  line-height: 1em;
                  position: absolute;
                  margin-top: 56px;
                  margin-left: 56px;
                  opacity: 0.4;
                }

                &:hover {
                  span {
                    img {
                      opacity: 1;
                    }
                  }
                }
            }
        }

        p {
            text-align: center;
            color: rgba(#fff, 0.6);
            margin-top: 28px;
            text-transform: uppercase;
            font-size: $font-size-small;
        }
    }
}
