// SCALA ECOSISTEM
//------------------------------------------------
//------------------------------------------------

#site-main {
    .scala-ecosystem {
        // background: url("../img/frontpage/background-scala-ecosystem.jpg") no-repeat center bottom $gray-li;
        // @include image-size();
        background: $gray;

        .awesome-table {
            background: $gray-darker;
            padding: 16px 0;

            .awesome-summary {
                margin-bottom: 16px;

                @include span-columns(4);

                @include bp(large) {
                    @include span-columns(12);
                }

                padding: 5px;

                p.awesome-summary-text {
                    font-size: 1.3rem;
                    color: rgba(255, 255, 255, 0.7);
                }
            }

            .awesome-items {
                @include span-columns(8);

                @include bp(large) {
                    @include span-columns(12);
                }

                h3 {
                    color: $gray-light;
                    font-family: $base-font-family;
                    text-transform: uppercase;
                    // border-bottom: $base-border-gray;
                    font-size: $font-size-large;
                }

                float: left;
                display: block;

                .content-card {
                    float: left;
                    background: $gray;
                    padding: 2px;
                    margin: 5px 3px;
                    display: block;
                    border-radius: $border-radius-base;

                }

                a {

                    h3 {
                        transition: $base-transition;
                        padding: 10px;
                        i {
                            margin-right: 6px;
                        }
                    }

                    &:active,
                    &:focus,
                    &:hover {
                        text-decoration: none;
                        box-shadow: $box-shadow-item;

                        h3 {
                            color: $brand-primary;
                            background: $gray-dark;
                        }
                    }
                }
            }
        }

        .button.awesome {
            font-family: Caveat;
            font-size:large;
            text-transform: none;
            padding: 3px, 7px;
        }

        .heading-line {
            @include clearfix;

            h2 {
                span {
                    background: $gray;
                }
            }
        }

        .browser {

            .header-browser {
                background: $gray-dark;
                padding: 14px 20px;
                @include display(flex);
                @include align-items(center);
                @include justify-content(space-between);

                img {
                    width: 116px;
                    height: auto;
                }

                img:last-child {
                    width: 86px;
                    height: auto;
                }
            }

            .main-browser {
                background: rgba($gray, 0.5);
                transition: $base-transition;
                text-align: center;
                // padding: 70px 0 80px;

                h2 {
                    color: #fff;
                    font-size: 2.5rem;
                    margin-bottom: 24px;
                }

                .input-control {
                    position: relative;
                    background: #333;
                    width: 550px;
                    margin-left: auto;
                    margin-right: auto;
                    color: $base-font-color-light;

                    span {
                        position: absolute;
                        left: 20px;
                        top: 8px;
                    }

                    input {
                        padding: 12px 18px 12px 50px;
                        border-radius: $border-radius-small;
                        width: 100%;
                        font-weight: $font-bold;
                    }
                }
                @include bp(medium) {
                    padding-left: 20px;
                    padding-right: 20px;

                    h2 {
                        font-size: 1.4rem;
                    }

                    .input-control {
                        width: 100%;
                    }
                }
            }
        }
    }

}

.autocomplete-suggestions {
    width: 100%;
    background: #fff;
    top: 42px;
    left: 0;
    position: absolute;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.autocomplete-suggestions {
    padding: 0;
    margin: 0;
}

.autocomplete-suggestions .autocomplete-suggestion {
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 43, 55, 0.1);
}

.autocomplete-suggestions .autocomplete-suggestion:last-child {
    border-bottom: none;
}

.autocomplete-suggestions .autocomplete-suggestion a {
    color: #586e75;
}

.autocomplete-suggestions .autocomplete-suggestion a:hover,
.autocomplete-suggestions .autocomplete-suggestion a:active,
.autocomplete-suggestions .autocomplete-suggestion a:focus {
    text-decoration: none;
}

.autocomplete-suggestions .autocomplete-suggestion a p {
    color: #224951;
    margin: 0;
    font-weight: 400;
}

.autocomplete-suggestions .autocomplete-suggestion:hover,
.autocomplete-suggestions .autocomplete-suggestion.selected {
    background: #edf1f1;
    cursor: default;
}
