// SCALA MAIN RESOURCES
//------------------------------------------------
//------------------------------------------------

.scala-main-resources {
    height: 105px;
    background: $banner-bg;
    position: relative;

    .resources {
        .button {
            font-size: $font-size-logo-btn;
            display: block;
            @include border-top-radius(200px);
            @include border-right-radius(0);
            @include border-bottom-radius(0);
            @include border-left-radius(200px);
            padding: $padding-medium $padding-mlarge;
        }

        .get-started {
            @include span-columns(4.2);
            @include shift(1.8);

            .button {

              background: $brand-tertiary;
              &:active,
              &:focus,
              &:hover {
                background: $brand-secondary;
              }
            }
        }

        .learn-scala {
            @include span-columns(4.2);

            .button {
                text-align: right;
                @include border-top-radius(0);
                @include border-right-radius(200px);
                @include border-bottom-radius(200px);
                @include border-left-radius(0);

                background: $brand-tertiary;

                &:active,
                &:focus,
                &:hover {
                  background: $brand-secondary;
                }
            }
        }
        @include bp(large) {
            .get-started {
                @include span-columns(6);
                @include shift(0);
            }

            .learn-scala {
                @include span-columns(6);
                margin-right: 0;
            }
        }

        .learn-scala,
        .get-started {
            margin-top: -48px;

            ul {
                @include display(flex);
                @include align-items(center);
                margin-top: 12px;
                text-align: center;

                li {
                    display: inline-block;
                    font-family: $heading-font-family;
                    padding-bottom: 4px;
                    margin-bottom: 2px;
                    margin-right: 7px;
                    font-weight: $font-bold;

                    color: rgba(#fff, 0.90);

                    a {
                        font-size: $font-size-medium;
                        color: rgba(#fff, 0.90);

                        &:active,
                        &:focus,
                        &:hover {
                            text-decoration: none;
                            color: rgba(#fff, 0.50);
                        }
                    }
                }
            }
        }

        .get-started {
            .sublinks {
                max-width: 220px;
            }
        }

        .learn-scala {
            .sublinks {
                float: right;
            }
        }

        .scala-brand-circle {
            width: 190px;
            height: 190px;
            left: 50%;
            top: -97px;
            margin-left: -96px;
            position: absolute;
            z-index: 60;
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);

            .circle-solid {
                background: $gray-darkest;
                width: 185px;
                height: 185px;
                border-radius: 100%;
                text-align: center;

                > img {
                    width: 120px;
                    height: auto;
                    margin-top: -15px;
                }

                .scala-version {
                  span {
                    display: block;
                    color: #fff;
                    font-family: $heading-font-family;
                  }

                  span:first-child {
                    font-size:  1.375rem;
                    margin-top: -9px;
                  }

                  span:nth-child(2) {
                    font-size: 1.9rem;
                    margin-top: -10px;
                  }
                  p {
                    color: rgba(#fff, 0.50);
                    font-style: italic;
                    font-size: $font-size-medium;
                    line-height: 1.3;
                    margin-top: 10px;
                  }
                }
            }
        }
    }
    @include bp(medium) {
        height: auto;
        padding-bottom: $padding-xlarge;

        .resources {
            .get-started {
                margin-top: 110px;
            }

            .learn-scala {
                margin-top: 40px;
            }

            .get-started {
                .sublinks {
                    max-width: 100%;
                }
            }

            .learn-scala {
                .sublinks {
                    float: none;
                }
            }

            .learn-scala,
            .get-started {
                @include span-columns(12);

                .button {
                    border-radius: 100px;
                    padding: ($padding-small / 2) ($padding-large / 2);
                    font-size: $base-font-size;
                    text-align: center;
                }

                ul {
                    @include span-columns(8);
                    @include shift(2);
                    max-width: 100%;
                    float: none;
                    align-items: center;
                }
            }

            .scala-brand-circle {
                transform: scale(0.8);
            }
        }
    }
}
