// SCALA ECOSISTEM
//------------------------------------------------
//------------------------------------------------

#site-main {
    .scala-ecosystem {
        padding-bottom: 0;
        background: url("../img/frontpage/background-scala-ecosystem.jpg") no-repeat center bottom $gray-li;
        @include image-size();

        .heading-line {
            @include clearfix;

            h2 {
                span {
                    background: #234D57;
                }
            }
        }

        .browser {
            .header-browser {
                background: $gray-dark;
                padding: 14px 20px;
                @include display(flex);
                @include align-items(center);
                @include justify-content(space-between);

                img {
                    width: 116px;
                    height: auto;
                }

                img:last-child {
                    width: 86px;
                    height: auto;
                }
            }

            .main-browser {
                background: rgba($gray, 0.5);
                transition: $base-transition;
                text-align: center;
                padding: 70px 0 80px;

                h2 {
                    color: #fff;
                    font-size: 2.5rem;
                    margin-bottom: 24px;
                }

                .input-control {
                    position: relative;
                    background: #333;
                    width: 550px;
                    margin-left: auto;
                    margin-right: auto;
                    color: $base-font-color-light;

                    span {
                        position: absolute;
                        left: 20px;
                        top: 8px;
                    }

                    input {
                        padding: 12px 18px 12px 50px;
                        border-radius: $border-radius-small;
                        width: 100%;
                        font-weight: $font-bold;
                    }
                }
                @include bp(medium) {
                    padding-left: 20px;
                    padding-right: 20px;

                    h2 {
                        font-size: 1.4rem;
                    }

                    .input-control {
                        width: 100%;
                    }
                }
            }
        }

        &:hover {
            .main-browser {
                background: $gray;
                padding-bottom: 140px;
            }
        }
    }

}

.autocomplete-suggestions {
    width: 100%;
    background: #fff;
    top: 42px;
    left: 0;
    position: absolute;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.autocomplete-suggestions {
    padding: 0;
    margin: 0;
}

.autocomplete-suggestions .autocomplete-suggestion {
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 43, 55, 0.1);
}

.autocomplete-suggestions .autocomplete-suggestion:last-child {
    border-bottom: none;
}

.autocomplete-suggestions .autocomplete-suggestion a {
    color: #586e75;
}

.autocomplete-suggestions .autocomplete-suggestion a:hover,
.autocomplete-suggestions .autocomplete-suggestion a:active,
.autocomplete-suggestions .autocomplete-suggestion a:focus {
    text-decoration: none;
}

.autocomplete-suggestions .autocomplete-suggestion a p {
    color: #224951;
    margin: 0;
    font-weight: 400;
}

.autocomplete-suggestions .autocomplete-suggestion:hover,
.autocomplete-suggestions .autocomplete-suggestion.selected {
    background: #edf1f1;
    cursor: default;
}
