#site-main {
    .run-scala {
        background: $gray-dark;
        padding-bottom: 0;
        overflow: hidden;
    }

    .call-to-action {
      margin-bottom: 30px;
    }

    .scastie.embedded {
      width: 100%;
      margin-top: 0;
    }
}
