// MAIN
//------------------------------------------------
//------------------------------------------------
#site-main {
    section {
        padding: $padding-xlarge 0;
    }
    section:first-child {
        padding: 20px 0px 0px 0px;
    }
}
