// MAIN
//------------------------------------------------
//------------------------------------------------
#site-main {
    section {
        padding-bottom: $padding-large;

        .section-text {
            p {
                color: $base-font-color-inverse;
                font-size: $font-size-large;
                margin-bottom: $padding-xsmall;
            }
        }
    }
    section:first-child {
        padding-top: $padding-medium;
    }
}
