.upcoming-events {

    .call-to-action {
        p {
            color: $gray-dark;
            a {
                color: $gray-dark;
                &:active,
                &:focus,
                &:hover {
                    color: $brand-primary;
                }
            }

            &.align-top {
                margin-bottom: 0px;
            }
        }

        &.action-medium {
            margin-top: 10px;
            padding-bottom: $padding-small;
        }
    }

    .heading-box {
        margin-bottom: $padding-small;
        text-align: center;
        h3 {
            color: $gray-dark;
            font-size: 1.25rem;
            font-weight: $font-regular;
            padding-bottom: 8px;
        }
    }

    .training-items-list {
        @include clearfix;

        .training-item {
            @include span-columns(4);
            @include omega(3n);

            @include bp(large) {
                @include span-columns(12);
            }

            img,
            .calendar {
                float: left;
            }

            img {
                width: 28px;
                height: auto;
            }

            .calendar {
                span:last-child {
                    background: $gray-lighter;
                }
            }

            .card-text {
                margin-left: 44px;

                h4 {
                    margin-bottom: 6px;
                }

                p {
                    color: $base-font-color;

                    &:nth-child(2) {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .events-items-list {
        @include clearfix;

        .event-item {
            @include span-columns(4);
            @include omega(3n);
            @include bp(large) {
                 @include span-columns(12);
            }
        }
    }

    .card {
        border: 2px solid $gray-light;
        background: $base-border-color-white;
        .card-text {
            h4 {
                color: $gray-dark;
            }
            ul {
                li {
                    color: $gray-dark;
                }
            }
        }

        &:hover {
            background: darken($base-border-color-white, 70%);
        }
    }
}
