.upcoming-events {

    .call-to-action {
        p {
            color: $gray-dark;
            a {
                color: $gray-dark;
                &:active,
                &:focus,
                &:hover {
                    color: $brand-primary;
                }
            }

            &.align-top {
                margin-bottom: 0px;
            }
        }

        &.action-medium {
            margin-top: 10px;
            padding-bottom: $padding-small;
        }
    }

    .heading-box {
        margin-bottom: $padding-small;
        text-align: center;
        h3 {
            color: $gray-dark;
            font-size: 1.25rem;
            font-weight: $font-regular;
            padding-bottom: 8px;
        }
    }

    .events-items-list {
        @include clearfix;

        .event-item {
            @include span-columns(4);
            @include omega(3n);
            @include bp(large) {
                 @include span-columns(12);
            }
        }
    }

    .card {
        border: 2px solid $gray-light;
        background: $base-border-color-white;
        .card-text {
            h4 {
                color: $gray-dark;
            }
            ul {
                li {
                    color: $gray-dark;
                }
            }
        }

        &:hover {
            background: darken($base-border-color-white, 70%);
        }
    }
}
