name: scala-lang docs

on:
  pull_request:
  schedule:
    - cron: '00 0 * * *'

jobs:
  build-and-validate-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6.9'
          bundler-cache: true
      - name: Build documents
        run: |
          bundle update --bundler
          bundle exec jekyll build 2> error.log
          cat >&2 error.log
          ( ! grep -qie Error -e Warn error.log )
          find ./_site \( -type d \( -name events -o -name training \) -prune -false \) -o \( -type f ! -name error.log -empty \)
          find ./_site \( -type d \( -name events -o -name training \) -prune -false \) -o \( -type f ! -name error.log -empty \) | ( ! read )
      - name: Proofing (Pull Request)
        if: ${{ github.event_name != 'schedule' }}
        run: |
          bundle exec htmlproofer ./_site/ --disable-external --only-4xx --empty-alt-ignore --allow-hash-href
      - name: Proofing (Cron)
        if: ${{ github.event_name == 'schedule' }}
        run: |
          bundle exec htmlproofer ./_site/ --external_only --only-4xx --http-status-ignore "400,401,429" --empty-alt-ignore --allow-hash-href --url-ignore "/trends.google.com/,/pgp.mit.edu/,/www.oracle.com/,/scalafiddle.io/" --typhoeus-config='{"headers":{"Accept-Encoding":"gzip, deflate"}}'
